div.gift-content-container{overflow:hidden}div.gift-content-container p{font-size:13px}div.gift-content-container .new-button{float:left;margin:0}#gift-container strong{text-transform:uppercase}p.gift-content{margin-top:15px}div.gift-img{float:left;width:210px;height:150px;text-align:center;background:url(../../v2/images/welcome/newbie_item_bg.png) 50% 50% no-repeat}
div.gift-img img{margin-top:32px}#habblet-close-giftqueue{display:none}p.aftergift-img{text-align:center}#gift-container ul{margin-left:2em}