.method {
    color: #333;
    font-size: 12px;
    position: relative;
}

.method h2 {
    margin: 0 25px !important;
    font-size: 20px !important;
}

.price b {
    font-size: 19px !important;
}

.price b.from {
    font-size: 12px !important;
    font-weight: normal;
    margin-bottom: 5px;
    color: gray;
}

.price b.credit-amount {
    font-size: 20px !important;
}

.price b.price-in-cents {
    font-size: 15px !important;
}

.method-group.phone .method, .method-group.phone-single .method {
    font-size: 11px !important;
}

.disclaimer h3 {
    font-size: 12px !important;
}

.countries h3 {
    font-size: 14px !important;
}

/* online

.method-group.online {
    background: #fcf9ec url(../images/newcredits/onlinemoney_crop.png) 26px 100% no-repeat;
    margin: 10px 0;
    min-height: 210px;
    border-bottom: 1px solid #f90;
}

.method-group.online .method-content ol {
    margin: 0px;
    padding: 0px 0px 0px 22px;
}

.method-group.online .method-content ol li {
    list-style: decimal outside;
    padding: 0;
    margin-bottom: 0px;
}

.method-group.online a.new-button.oversize b {
    width: 120px;
}

.method-group.online .method {
    padding: 14px 14px 14px 0;
    margin-right: 15px;
    margin-left: 280px;
    border-top: 1px dashed #f90;
}

.method-group.online .method.idx0 {
    border-top: 0;
    margin-left: 0;
}

.method-group.online .method.idx0 .summary {
    margin-left: 280px;
}

.method-group.online .method.idx0 .creditcards,
.method-group.online .method.idx0 .de-cards,
.method-group.online .method.idx0 .ch-cards,
.method-group.online .method.idx0 .at-cards,
.method-group.online .method.idx0 .au-cards,
.method-group.online .method.idx0 .br-cards,
.method-group.online .method.idx0 .fi-cards,
.method-group.online .method.idx0 .sv-cards,
.method-group.online .method.idx0 .it-cards,
.method-group.online .method.idx0 .ca-cards,
.method-group.online .method.idx0 .es-cards,
.method-group.online .method.idx0 .cl-cards,
.method-group.online .method.idx0 .mx-cards,
.method-group.online .method.idx0 .ar-cards,
.method-group.online .method.idx0 .pt-cards,
.method-group.online .method.idx0 .nl-cards,
.method-group.online .method.idx0 .paysafecard {
    margin-top: -32px;
    padding-top: 32px;
    margin-left: -280px;
    padding-left: 280px;
    background: 26px 0 no-repeat;
}

.method-group.online .method.idx0 .co-cards,
.method-group.online .method.idx0 .ec-cards {
    margin-top: -20px;
    padding-top: 32px;
    margin-left: -280px;
    padding-left: 280px;
    background: 26px 0 no-repeat;
}

.method-group.online .method.idx0 .creditcards {
    background-image: url(../images/newcredits/cc_logos.png);
}

.method-group.online .method.idx0 .au-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/cc_logos.png);
}

.method-group.online .method.idx0 .au-cards-smallprint {
    margin-top: 28px;
    color: gray;
    overflow: none;
    width: 250px;
}

.method-group.online .method.idx0 .de-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/de_cards.png);
}

.method-group.online .method.idx0 .ch-cards,
.method-group.online .method.idx0 .at-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/ch_cards.png);
}

.method-group.online .method.idx0 .br-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/br_cards.png);
    min-height: 50px;
}

.method-group.online .method.idx0 .fi-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/bank_logos_fi.png);
    min-height: 50px;
}

.method-group.online .method.idx0 .sv-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/sv_cards.png);
    min-height: 50px;
}

.method-group.online .method.idx0 .it-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/it_cards.png);
    min-height: 50px;
}

.method-group.online .method.idx0 .cl-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/cl_cards.png);
    min-height: 85px;
}

.method-group.online .method.idx0 .es-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/es_prepaid_cards.png);
    min-height: 50px;
}

.method-group.online .method.idx0 .ar-cards {
    background-position: 18px 0;
    background-image: url(../images/newcredits/ar_cards.png);
    min-height: 57px;
}

.method-group.online .method.idx0 .ca-cards{
    background-position: 22px 0;
    background-image: url(../images/newcredits/cc_logos.png);
    min-height: 50px;
}

.method-group.online .method.idx0 .co-cards,
.method-group.online .method.idx0 .ec-cards{
    background-position: 22px 0;
    background-image: url(../images/newcredits/cc_logos.png);
    min-height: 155px;
}

.method-group.online .method.idx0 .mx-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/mx_cards.png);
    min-height: 50px;
}

.method-group.online .method.idx0 .pt-cards {
    background-position: 18px 0;
    background-image: url(../images/newcredits/pt_cards.png);
    min-height: 55px;
}

.method-group.online .method.idx0 .nl-cards {
    background-position: 22px 0;
    background-image: url(../images/newcredits/nl_cards.png);
}

.method-group.online .method.idx0 .paysafecard {
    background-position: 24px 0;
    background-image: url(../images/newcredits/paysafecard.png);
}

.method-group.online .method.idx0 a.new-button.oversize {
    margin-top: 32px;
}

.method-group.online .method h2 {
    font-size: 20px;
}

.method-group.online .method.idx0 h2 {
    font-size: 30px;
    padding-left: 280px;
}
 */
/* phone/other */

.method-group.utilities .method,
.method-group.phone .method,
.method-group.phone-single .method,
.method-group.other .method {
    margin-left: 15px;
    float: left;
    width: 357px;
}

.method-group.utilities .method.idx0,
.method-group.phone .method.idx0,
.method-group.phone-single .method.idx0,
.method-group.other .method.idx0 {
    margin-right: 1px;
}

/* utilities */

.method-group.utilities {
    padding-top: 5px;
}

.method-group.utilities .method {
    font-size: 12px;
}

.method-group.utilities .method-content .top,
.method-group.utilities .bottom {
    background: #4a4a4a url(../images/newcredits/box_dark.png) no-repeat;
    padding-left: 4px;
    font-size: 1%;
}

.method-group.utilities .method-content .top div,
.method-group.utilities .bottom div {
    background: #4a4a4a url(../images/newcredits/box_dark.png) no-repeat 100% 0;
    padding-top: 4px;
    padding-left: 4px;
    font-size: 1%;
}

.method-group.utilities .bottom {
    background-color: #747474;
    background-position: 0 100%;
}

.method-group.utilities .bottom div {
    background-color: #747474;
    background-position: 100% 100%;
}

.method-group.utilities .method.nosmallprint .bottom,
.method-group.utilities .method.nosmallprint .bottom div,
.method-group.utilities .method.empty .bottom,
.method-group.utilities .method.empty .bottom div {
    background-color: #ededed;
}

.method-group.utilities .method h2 {
    display: none;
    visibility: hidden;    
}

.method-group.utilities .method-content div.summary {
    background-color: #4a4a4a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.method-group.utilities .method.empty .method-content div.summary div {
    padding: 10px 6px;
    text-align: center;
}

.method-group.utilities .method .smallprint {
    color: #fff;
    font-size: 12px;
    text-align: left;
    padding: 10px 10px 10px 30px;
    background-color: #747474;
}

.method-group.utilities .method-content div.summary,
.method-group.utilities .method .smallprint {
    border: 1px solid #252621;
    border-width: 0 1px;
}

/* utilities box redeem form */

.method-group.utilities .redeem-past-transactions {
    text-align: right;
    padding-right: 7px;
}

.method-group.utilities .redeem-past-transactions a, 
.method-group.utilities .redeem-past-transactions a:visited {
    color: #93DB39;
    font-size: 11px;
    font-weight: bold;
}

.method-group.utilities .redeem {
    margin: 15px 7px 7px 0;
    background-color: #728f59;
    padding: 7px 7px 7px 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.method-group.utilities .redeemcode {
    float: left;
    padding: 3px;
    width: 150px;
}

.method-group.utilities .redeem-submit {
    float: left;
    margin-bottom: 0;
}

.method-group.utilities .redeem a {
    color: #000;
}

.method-group.utilities .method-content ol li div.redeem-result {
    font-size: 11px;
    clear: both;
}

.method-group.utilities .method-content ol li div.redeem-result div {
    color: #fff;
}

.method-group.utilities .redeem+a,
.method-group.utilities .redeem+span {
    margin-left: 7px;
}

/* phone */

.method-group.phone, 
.method-group.phone-single, 
.method-group.utilities {
    padding-top: 5px;
    margin-bottom: 10px;
}

.method-group.phone .method,
.method-group.phone-single .method {
    font-size: 12px;
}

.method-group.phone .method h2,
.method-group.phone-single .method h2,
.method-group.utilities .method h2 {
    margin: 0 15px;
    padding-bottom: 8px;
    color: #000;
}

.method-group.phone .method.empty h2,
.method-group.phone-single .method.empty h2, 
.method-group.utilities .method.empty h2 {
     color: #999;
}

.method-group.phone .method-content a,
.method-group.phone-single .method-content a {
    color: #208a08;
}

.method-group.phone .method-content a.big,
.method-group.phone-single .method-content a.big {
    font-size: 18px;
}

.method-group.phone .method-content div.summary,
.method-group.phone-single .method-content div.summary {
    background-color: #ededed;
    color: #333;
}

.method-group.phone .method .smallprint,
.method-group.phone-single .method .smallprint {
    color: #999;
    font-size: 11px;
    text-align: center;
    padding: 10px;
}

.method-group.phone .method-content .top,
.method-group.phone-single .method-content .top,
.method-group.phone .bottom,
.method-group.phone-single .bottom {
    background: #ededed url(../images/newcredits/phonebox.png) no-repeat;
    padding-left: 4px;
    font-size: 1%;
}

.method-group.phone .method-content .top div,
.method-group.phone-single .method-content .top div,
.method-group.phone .bottom div,
.method-group.phone-single .bottom div {
    background: #ededed url(../images/newcredits/phonebox.png) no-repeat 100% 0;
    padding-top: 4px;
    padding-left: 4px;
    font-size: 1%;
}

.method-group.phone .bottom,
.method-group.phone-single .bottom {
    background-color: #fff;
    background-position: 0 100%;
}

.method-group.phone .bottom div,
.method-group.phone-single .bottom div {
    background-color: #fff;
    background-position: 100% 100%;
}

.method-group.phone .method.nosmallprint .bottom,
.method-group.phone-single .method.nosmallprint .bottom,
.method-group.phone .method.nosmallprint .bottom div,
.method-group.phone-single .method.nosmallprint .bottom div,
.method-group.phone .method.empty .bottom,
.method-group.phone-single .method.empty .bottom,
.method-group.phone .method.empty .bottom div,
.method-group.phone-single .method.empty .bottom div,
.method.empty .spacer-summary {
    background-color: #ededed;
}

.method-group.phone .method-content div.summary,
.method-group.phone-single .method-content div.summary,
.method-group.phone .method .smallprint,
.method-group.phone-single .method .smallprint,
.spacer-summary,
.spacer-smallprint {
    border: 1px solid #ccc;
    border-width: 0 1px;
}

.method-group.phone .method.empty .method-content div.summary div,
.method-group.phone-single .method.empty .method-content div.summary div {
    padding: 10px 6px;
    text-align: center;
}

.method-group.phone .method-content div.uscashcards, 
.method-group.phone-single .method-content div.uscashcards {
    padding: 10px 7px 14px 183px;
    background: url(../images/newcredits/uscashcards.jpg) no-repeat 6px 6px;
    min-height: 149px;
}

.method-group.phone .method-content div.cacashcards,
.method-group.phone-single .method-content div.cacashcards {
    padding: 10px 7px 14px 183px;
    background: url(../images/newcredits/cacashcards.png) no-repeat 6px 6px;
    min-height: 149px;
}

.method-group.phone .method-content div.sgcashcards,
.method-group.phone-single .method-content div.sgcashcards {
    padding: 10px 7px 14px 183px;
    background: url(../images/newcredits/sgcashcards.png) no-repeat 6px 6px;
    min-height: 149px;
}

.method-group.phone .method-content div.phcashcards,
.method-group.phone-single .method-content div.phcashcards {
    padding: 10px 7px 14px 183px;
    background: url(../images/newcredits/phcashcards.png) no-repeat 6px 6px;
    min-height: 149px;
}

.method-group.phone .method-content div.mycashcards,
.method-group.phone-single .method-content div.mycashcards {
    padding: 10px 7px 14px 183px;
    background: url(../images/newcredits/mycashcards.png) no-repeat 6px 6px;
    min-height: 149px;
}

.method-group.phone .method-content div.ficashcards,
.method-group.phone-single .method-content div.ficashcards {
    padding: 10px 7px 14px 183px;
    background: url(../images/newcredits/fi_cashcards.png) no-repeat 6px 6px;
    min-height: 149px;
}

.method-group.phone .method-content div.cashcards,
.method-group.phone-single .method-content div.cashcards {
    padding: 10px 70px 14px 20px;
    text-align:justify;
}

.method-group.phone .method-content div.brcashcards,
.method-group.phone-single .method-content div.brcashcards {
    padding: 10px 7px 14px 170px;
    background: url(../images/newcredits/brcashcards.jpg) no-repeat 6px 6px;
    min-height: 135px;
}

.method-group.phone .method-content div.clcashcards,
.method-group.phone-single .method-content div.clcashcards {
    padding: 10px 7px 14px 170px;
    background: url(../images/newcredits/clcashcards2.jpg) no-repeat 6px 6px;
    min-height: 135px;
}

.method-group.phone .method-content div.aucashcards,
.method-group.phone-single .method-content div.aucashcards {
    padding: 10px 7px 14px 170px;
    background: url(../images/newcredits/aucashcards.png) no-repeat 6px 6px;
    min-height: 135px;
}

.method-group.phone .method-content div.ptcreditcards, 
.method-group.phone-single .method-content div.ptcreditcards {
    padding: 14px 115px 0px 20px;
}

.method-group.phone .method-content div.onebip,
.method-group.phone-single .method-content div.onebip {
    padding: 10px 0 14px 33px;
    margin: 0 117px 0 0;
}

.method-group.phone .method-content div.onebip img,
.method-group.phone-single .method-content div.onebip img{
    float:left;
    padding: 0 10px 0 0;
}

.method-group.phone .method-content ol,
.method-group.phone-single .method-content ol {
    padding: 10px 0 14px 33px;
    margin: 0 117px 0 0;
}

.method-group.phone .method-content ol li,
.method-group.phone-single .method-content ol li {
    color: #da0;
    list-style: decimal outside;
    padding: 0;
    margin-bottom: 4px;
}

.method-group.phone .method-content ol li div,
.method-group.phone-single .method-content ol li div {
    color: #333;
}

.method-group.phone .method-content strong,
.method-group.phone-single .method-content strong {
    font-size: 18px;
    font-weight: normal;
}

.method-group.phone .method-content ol li strong,
.method-group.phone-single .method-content ol li strong {
    color: #000;
}

.method-group.phone .method-content ol li div em,
.method-group.phone-single .method-content ol li div em {
    color: #229800;
    font-size: 18px;
    font-style: normal;
    display: block;
    margin: 9px -103px 0 0;
    padding: 7px 9px;
    background-color: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.method-group.phone span.open,
.method-group.phone-single span.open {
    display: block;
    color: #208a08;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5px;
}

.method-group.phone .new-button.methodurl,
.method-group.phone-single .new-button.methodurl {
    margin: -7px 14px 7px 14px;
}

/* redeem form */

.method-group.online .redeem,
.method-group.phone .redeem,
.method-group.phone-single .redeem,
.details .redeem {
    background-color: #d0edb7;
    padding: 7px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.method-group.phone .redeem,
.method-group.phone-single .redeem {
    margin: 7px -103px 0 0;
}

.method-group.online .redeem {
    margin: 7px 150px 0 0;
}

.method-group.online .redeemcode,
.method-group.phone .redeemcode,
.method-group.phone-single .redeemcode,
.details .redeemcode {
    float: left;
    padding: 3px;
    width: 150px;
}

.method-group.online .redeem-submit,
.method-group.phone .redeem-submit,
.method-group.phone-single .redeem-submit,
.details .redeem-submit {
    float: left;
    margin-bottom: 0;
}

.method-group.online .redeem a,
.method-group.phone .redeem a,
.method-group.phone-single .redeem a,
.details .redeem a {
    color: #000;
}

.method-group.phone .method-content ol li div.redeem-result,
.method-group.phone-single .method-content ol li div.redeem-result,
.details.cashcardus .instructions ol li div.redeem-result,
.details.cashcardbr .instructions ol li div.redeem-result,
.details.cashcardcl .instructions ol li div.redeem-result,
.details.cashcardau .instructions ol li div.redeem-result,
.details.cashcardca .instructions ol li div.redeem-result,
.details.cashcardsg .instructions ol li div.redeem-result,
.details.cashcardmy .instructions ol li div.redeem-result,
.details.cashcardph .instructions ol li div.redeem-result,
.details.cashcardfi .instructions ol li div.redeem-result {
    font-size: 11px;
    clear: both;
}

.method-group.phone .method-content ol li div.redeem-result div,
.method-group.phone-single .method-content ol li div.redeem-result div,
.details.cashcardus .instructions ol li div.redeem-result div,
.details.cashcardbr .instructions ol li div.redeem-result div,
.details.cashcardcl .instructions ol li div.redeem-result div,
.details.cashcardau .instructions ol li div.redeem-result div,
.details.cashcardca .instructions ol li div.redeem-result div,
.details.cashcardsg .instructions ol li div.redeem-result div,
.details.cashcardmy .instructions ol li div.redeem-result div,
.details.cashcardph .instructions ol li div.redeem-result div,
.details.cashcardfi .instructions ol li div.redeem-result div {
     color: #fff;
}

.method-group.phone .redeem+a,
.method-group.phone-single .redeem+a,
.method-group.phone .redeem+span,
.method-group.phone-single .redeem+span {
    margin-left: 7px;
}

/* habbo id form */

.method-group.phone .habboid-container,
.method-group.phone-single .habboid-container {
    display: inline;
}

.method-group.phone .habboid,
.method-group.phone-single .habboid {
    background-color: #fff;
    padding: 7px;
    margin: 7px -103px 0 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.method-group.phone .habboid-name,
.method-group.phone-single .habboid-name {
    float: left;
}

.method-group.phone .habboid .new-button,
.method-group.phone-single .habboid .new-button {
    float: left;
    margin-bottom: 0;
}

/* price tag */

.price {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    width: 106px;
    height: 106px;
    overflow: hidden;
    font-size: 11px;
    background: url(../images/newcredits/blast.png) no-repeat;
}

.price.nobg {
    top: 50px;
    background: none;
}

.price[class] {
    display: table;
}

.price div {
    position: relative;
    top: 50%;
    width: 106px;
}

.price[class] div {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    top: 0;
}

.price div div {
    position: relative;
    top: -50%;
}

.price[class] div div {
    width: 106px;
}

/*
.price span {
    display: block;
    font-weight: bold;
    font-size: 12px;
}
.price span b {
    font-size: 22px;
}
*/

.price b {
    display: block;
    font-size: 20px;
}

.price b span {
    font-size: 12px;
}
/*
.price b.amount {
    display: inline;
    font-size: 18px;
    padding-right: 40px;
    text-align: right;
    background: url(../images/newcredits/blast_coin_right.png) top right no-repeat;
}
*/
.price b.credit-amount {
    display: inline;
    background: url(../images/newcredits/blast_coin_right.png) center right no-repeat;
    padding-right: 40px;
}

/* other */

.method-group.other {
    padding-top: 14px;
}

.method-group.other .method {
    text-align: center;
}

.method-group.other .method.single {
    padding: 10px 0;
}

.method-group.other .method-content {
    font-size: 12px;
}

.method-group.other .method h2,
.method-group.other .method.single .method-content {
    font-size: 14px;
    font-weight: normal;
}

.method-group.other .method ul {
    margin: 5px 0;
}

.method-group.other .method.single div, .method-group.other .method.single ul {
    display: inline;
    margin: 0;
}

.method-group.other .method ul li, .method-group.other .method.single h2 {
    display: inline;
    margin: 0 10px;
    white-space: nowrap;
}

/* more info */

.method-group.other .method.idx1,
.method-group.other .method.single {
    padding: 10px 0;
}

a.moreinfo {
    font-size: 18px;
    color: #333;
}

.moreinfo-section {
    margin: 14px 0 0 0;
    padding: 14px 14px 0 14px;
    text-align: center;
}

/* disclaimer */

.disclaimer {
    border-top: 1px solid #e6e6e6;
    margin: 14px 0 3px 0;
    padding: 14px;
    text-align: center;
    font-size: 11px;
    color: #999;
}

.disclaimer a, .disclaimer b {
    color: #000;
}

.disclaimer h3 {
    margin: 0 0 4px 0;
    font-size: 14px;
    color: #b72c2d;
    font-weight: normal;
}

.disclaimer h3 span {
    background: url(../images/newcredits/permission.png) no-repeat 100% 3px;
    padding: 0 20px 4px 0;
    
}

/* redeem habblet */

#redeem-habblet div, #redeem-habblet form {
    font-size : 11px;
    color : white;
}

#redeem-habblet p {
    padding-bottom : 0em;
}

#redeem-habblet a:link, #redeem-habblet a:visited {
    color : #93db39;
}

#redeem-habblet div.redeem-balance {
    background-color:#4A4A4A;
    float:left;
    padding: 10px 10px 15px 10px;
    margin-left : 4px;
    text-align:center;
    width:114px;
    border-radius: 4px;
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;
}

#redeem-habblet p.redeem-balance-username {
	font-weight: bold;
}

#redeem-habblet p.redeem-balance-text {
    padding-bottom: 7px;
}

#redeem-habblet .redeem-balance-amount {
    background-image:url(../images/newcredits/purse_coin.png);
    background-repeat:no-repeat;
    font-size:1.5em;
    font-weight:bold;
    padding: 0 0 8px 43px;
}

#redeem-habblet div.redeem-redeeming {
    background-color:#747474;
    float:left;
    width: 310px;
}

#redeem-habblet div.redeem-redeeming-text {
    float : left;
    width: 250px;
    background: url(../images/newcredits/purse_arrow.png) 100% 50% no-repeat;
}

#redeem-habblet .redeem-form-container {
    float: left;
    padding: 17px 0 0 10px;
}

#redeem-habblet p.redeeming-text {
    padding: 20px 20px 20px 30px;
    text-align:center;
}

#redeem-habblet input.redeemcode {
    width: 155px;
    float: left;
    border-color: #728f59;
    border-style: solid;
    border-width: 6px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#redeem-habblet div.redeem-redeeming-button {
    float : left;
    padding-top: 2px;
}

#redeem-habblet div.redeem-past-transactions {       
    text-align: left;
    clear: both;
}

div.redeem-result {
    clear: both;
    text-align: center;
    padding-top: 4px;
}

#redeem-habblet div.redeem-reauthenticate {
    float : left;
    background-color: #747474;
    padding-top: 25px;
    padding-left: 80px;
    width : 530px;
    height : 58px;
    font-size : 1.0em;
    font-weight : bold;
}

#redeem-habblet div.redeem-login-required {
    text-align : center;
}

/* countries */

.credits-footer {
    padding: 10px 0;
    margin: 10px 0 0 0;
}

.credits-footer .disclaimer, .countries {
    margin: 0 0 0 15px;
    padding: 0;
    float: left;
    width: 357px;
    border: 0;
}

.credits-footer .disclaimer {
    margin-right: 1px;
}

.countries {
    text-align: center;
    font-size: 14px;
}

.countries h3 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 4px;
}

.countries li {
    display: inline;
    margin: 0 3px;
}

/* details */

.details {
    color: #333;
    position: relative;
    font-size: 12px;
}

.details h2 {
    margin: 0 0 12px 52px;
    font-size: 24px;
}

.details .cashcardus-footer h2,
.details .cashcardbr-footer h2,
.details .cashcardcl-footer h2,
.details .cashcardau-footer h2,
.details .cashcardca-footer h2,
.details .cashcardsg-footer h2,
.details .cashcardmy-footer h2,
.details .cashcardph-footer h2,
.details .cashcardfi-footer h2 {
    font-size: 14px;
    background-color: #f90;
    margin: 0;
    text-align: left;
}

.details .prices {
    font-size: 18px;
    color: #999;
    margin: 7px 0 20px 0;
}

.details .prices span {
    font-size: 12px;
    line-height: 60%
}

.details .prices b {
    color: #333;
}

.details .prices li {
    background: url(../images/newcredits/details_coin.png) no-repeat;
    padding: 0 0 7px 40px;
    margin-left: 14px;
}

.details.cashcardus .instructions-wrap,
.details.cashcardbr .instructions-wrap,
.details.cashcardcl .instructions-wrap,
.details.cashcardau .instructions-wrap,
.details.cashcardca .instructions-wrap,
.details.cashcardsg .instructions-wrap,
.details.cashcardmy .instructions-wrap,
.details.cashcardph .instructions-wrap,
.details.cashcardfi .instructions-wrap {
    width: 360px;
    min-height: 250px;
}

.details.cashcardus .instructions,
.details.cashcardbr .instructions,
.details.cashcardcl .instructions,
.details.cashcardau .instructions,
.details.cashcardca .instructions,
.details.cashcardsg .instructions,
.details.cashcardmy .instructions,
.details.cashcardph .instructions,
.details.cashcardfi .instructions {
    background-color: #f3f3f3;
    font-size: 18px;
}

.details.cashcardus .instructions ol,
.details.cashcardbr .instructions ol,
.details.cashcardcl .instructions ol,
.details.cashcardau .instructions ol,
.details.cashcardca .instructions ol,
.details.cashcardsg .instructions ol,
.details.cashcardmy .instructions ol,
.details.cashcardph .instructions ol,
.details.cashcardfi .instructions ol {
    margin: 0;
}

.details.cashcardus .instructions ol li,
.details.cashcardbr .instructions ol li,
.details.cashcardcl .instructions ol li,
.details.cashcardau .instructions ol li,
.details.cashcardca .instructions ol li,
.details.cashcardsg .instructions ol li,
.details.cashcardmy .instructions ol li,
.details.cashcardph .instructions ol li,
.details.cashcardfi .instructions ol li {
    color: #da0;
    list-style: decimal outside;
    padding: 0;
    padding-bottom: 4px;
}

.details.cashcardus .instructions ol li div,
.details.cashcardbr .instructions ol li div,
.details.cashcardcl .instructions ol li div,
.details.cashcardau .instructions ol li div,
.details.cashcardca .instructions ol li div,
.details.cashcardsg .instructions ol li div,
.details.cashcardmy .instructions ol li div,
.details.cashcardph .instructions ol li div,
.details.cashcardfi .instructions ol li div {
    color: #333;
}

.details.cashcardus .bigimg,
.details.cashcardbr .bigimg,
.details.cashcardcl .bigimg,
.details.cashcardau .bigimg,
.details.cashcardca .bigimg,
.details.cashcardsg .bigimg,
.details.cashcardmy .bigimg,
.details.cashcardph .bigimg,
.details.cashcardfi .bigimg {
    position: absolute;
    top: 8px;
    right: 8px;
}

.details.cashcardus .redeeminfo,
.details.cashcardbr .redeeminfo,
.details.cashcardcl .redeeminfo,
.details.cashcardau .redeeminfo,
.details.cashcardca .redeeminfo,
.details.cashcardsg .redeeminfo,
.details.cashcardmy .redeeminfo,
.details.cashcardph .redeeminfo,
.details.cashcardfi .redeeminfo {
    font-size: 14px;
    color: #666;
}

.details.cashcardus .redeem,
.details.cashcardbr .redeem,
.details.cashcardcl .redeem,
.details.cashcardau .redeem,
.details.cashcardca .redeem,
.details.cashcardsg .redeem,
.details.cashcardmy .redeem,
.details.cashcardph .redeem,
.details.cashcardfi .redeem {
    font-size: 14px;
    margin-top: 4px;
}

.cashcardus-footer h4,
.cashcardbr-footer h4,
.cashcardcl-footer h4,
.cashcardau-footer h4,
.cashcardca-footer h4,
.cashcardsg-footer h4,
.cashcardmy-footer h4,
.cashcardph-footer h4,
.cashcardfi-footer h4 {
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    margin: 0 0 7px 0;
}

.cashcardus-footer .right h4,
.cashcardbr-footer .right h4,
.cashcardcl-footer .right h4,
.cashcardau-footer .right h4,
.cashcardca-footer .right h4,
.cashcardsg-footer .right h4,
.cashcardmy-footer .right h4,
.cashcardph-footer .right h4,
.cashcardfi-footer .right h4 {
    margin-top: 7px;
}

.cashcardbr-footer .right h4 {
    text-align: left;
}

.cashcardus-footer .left,
.cashcardbr-footer .left,
.cashcardcl-footer .left,
.cashcardau-footer .left,
.cashcardca-footer .left,
.cashcardsg-footer .left,
.cashcardmy-footer .left,
.cashcardph-footer .left,
.cashcardfi-footer .left {
    float: left;
    color: #999;
    width: 456px;
    text-align: center;
}

.cashcardus-footer .right,
.cashcardbr-footer .right,
.cashcardcl-footer .right,
.cashcardau-footer .right,
.cashcardca-footer .right,
.cashcardsg-footer .right,
.cashcardmy-footer .right,
.cashcardph-footer .right,
.cashcardfi-footer .right {
    float: left;
    color: #999;
}

.cashcardus-footer .right,
.cashcardbr-footer .right,
.cashcardcl-footer .right,
.cashcardau-footer .right,
.cashcardca-footer .right,
.cashcardsg-footer .right,
.cashcardmy-footer .right,
.cashcardph-footer .right,
.cashcardfi-footer .right {
    width: 274px;
}

.cashcardus-footer .right .note,
.cashcardbr-footer .right .note,
.cashcardcl-footer .right .note,
.cashcardau-footer .right .note,
.cashcardca-footer .right .note,
.cashcardsg-footer .right .note,
.cashcardmy-footer .right .note,
.cashcardph-footer .right .note,
.cashcardfi-footer .right .note {
    background-color: #f3f3f3;
}

.cashcardus-footer table,
.cashcardbr-footer table,
.cashcardcl-footer table,
.cashcardau-footer table,
.cashcardca-footer table,
.cashcardsg-footer table,
.cashcardmy-footer table,
.cashcardph-footer table,
.cashcardfi-footer table {
    margin: 0 auto;
}

.cashcardus-footer td,
.cashcardbr-footer td,
.cashcardcl-footer td,
.cashcardau-footer td,
.cashcardca-footer td,
.cashcardsg-footer td,
.cashcardmy-footer td,
.cashcardph-footer td,
.cashcardfi-footer td {
     text-align: center;
}

.cashcardus-footer td img,
.cashcardbr-footer td img,
.cashcardcl-footer td img,
.cashcardau-footer td img,
.cashcardca-footer td img,
.cashcardsg-footer td img,
.cashcardmy-footer td img,
.cashcardph-footer td img,
.cashcardfi-footer td img {
     border: 0;
}

/* inside client */

.client-habblet-container.contains-credits {
    width: 397px;
}

.client-habblet-container.contains-credits .cb {
    margin: 0;
}

.paymentmethods-client {
    margin-top: 4px;
    height: 410px;
    overflow: auto;
    position: relative; /* fix IE6/7 bug */
}

.paymentmethods-client .showall {
    margin: 0;
    padding: 0 15px 4px 15px;
    text-align: right;
    font-size: 11px;
}

/* For client window */

.paymentmethods-client .method-group.online {
    background: #fcf9ec url(../images/newcredits/onlinemoney_crop_client.png) 100% 0 no-repeat;
    margin-bottom: 20px;
    padding: 0px 15px 0px 15px;
    min-height: 0;
}

.paymentmethods-client .method-group .method {
    margin: 0;
}

.paymentmethods-client .method-group.online .method h2 {
    font-size: 20px;
    margin: 0 0 15px 0;
    padding: 0;
}

.paymentmethods-client .method-group.online .method.idx0 h2 {
    font-size: 28px;
}

.paymentmethods-client .method-group.online .method .summary {
    font-size: 12px;    
    margin: 0;
    padding: 0;
}

.paymentmethods-client .method-group.online .method.idx0 {
    padding-top: 85px;
    margin: 0;
}

.paymentmethods-client .method-group.online .method.idx0 .creditcards,
.paymentmethods-client .method-group.online .method.idx0 .au-cards,
.paymentmethods-client .method-group.online .method.idx0 .de-cards,
.paymentmethods-client .method-group.online .method.idx0 .ch-cards,
.paymentmethods-client .method-group.online .method.idx0 .at-cards,
.paymentmethods-client .method-group.online .method.idx0 .br-cards,
.paymentmethods-client .method-group.online .method.idx0 .fi-cards,
.paymentmethods-client .method-group.online .method.idx0 .sv-cards,
.paymentmethods-client .method-group.online .method.idx0 .it-cards,
.paymentmethods-client .method-group.online .method.idx0 .ca-cards,
.paymentmethods-client .method-group.online .method.idx0 .cl-cards,
.paymentmethods-client .method-group.online .method.idx0 .es-cards,
.paymentmethods-client .method-group.online .method.idx0 .mx-cards,
.paymentmethods-client .method-group.online .method.idx0 .ar-cards,
.paymentmethods-client .method-group.online .method.idx0 .co-cards,
.paymentmethods-client .method-group.online .method.idx0 .ec-cards,
.paymentmethods-client .method-group.online .method.idx0 .pt-cards,
.paymentmethods-client .method-group.online .method.idx0 .nl-cards,
.paymentmethods-client .method-group.online .method.idx0 .paysafecard {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background: none;
}

.paymentmethods-client .method-group.online .method.idx0 a.new-button.oversize {
    margin-top: 0;
}

.paymentmethods-client .method-group.online a.new-button.oversize b {
    width: 60px;
}

.paymentmethods-client a.new-button.oversize b {
    background-position:-3px -150px;
    color:#FFFFFF !important;
}

.paymentmethods-client a.new-button.oversize:hover b {
    background-position:-3px -25px;
}

.paymentmethods-client a.new-button.oversize b {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/new_button.png) no-repeat scroll -3px 0;
    color:#000000 !important;
    display:inline;
    float:left;
    font-size:11px;
    font-weight:bold;
    height:17px;
    margin-right:3px;
    padding:5px 17px 4px 20px;
    text-align:center;
}

.paymentmethods-client a.new-button.oversize i {
    background-position:0 -150px;
}

.paymentmethods-client a.new-button.oversize i {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/new_button.png) no-repeat scroll 0 0;
    height:25px;
    position:absolute;
    right:0;
    top:0;
    width:3px;
}

.paymentmethods-client .method-group.phone,
.paymentmethods-client .method-group.phone-single, 
.paymentmethods-client .method-group.utilities {
    padding-top: 0;
}

.paymentmethods-client .method-group.phone .method,
.paymentmethods-client .method-group.phone-single .method,
.paymentmethods-client .method-group.utilities .method,
.paymentmethods-client .method-group.phone .method.idx0,
.paymentmethods-client .method-group.phone-single .method.idx0, 
.paymentmethods-client .method-group.utilities .method.idx0 {
    float: none;
    margin: 10px 15px;
}

.paymentmethods-client .method-group.other {
    padding-top: 0;
}

.paymentmethods-client .method-group.other .method,
.paymentmethods-client .method-group.other .method.idx0 {
    float: none;
    margin: 0 15px;
    padding: 14px 0;
    border-top: 1px solid #e6e6e6;
}

.paymentmethods-client .method-group.other .method.idx0 {
    border-top: 0;
}

.paymentmethods-client .moreinfo-section {
    padding-bottom: 14px;
}

.paymentmethods-client .credits-footer,
.paymentmethods-client .disclaimer {
    margin-top: 0;
}

.paymentmethods-client .countries {
    padding-top: 14px;
}

/* */

#big-voucher-form {
    padding: 8px 15px;
    text-align: center;
    font-size: 18px;
}

#big-voucher-form input {
    text-align: center;
    font-size: 18px;
}

/* Offers */

body#credit_offers .description-container,
body#credit_offers .login-first {
    padding: 10px
}

body#credit_offers .description-container h2 {
    color: #f29400;
}

body#credit_offers .login-first {
    font-weight: bold;
}

body#credit_offers p.warning {
    font-weight: bold;
    color: red;
}

body#credit_offers .text-container li {
    list-style-type: decimal;
}

body#credit_offers div.iframe-container {
    position: relative;
    left: 85px;
    padding-top: 5px;
}

body#credits_subscription .list-container li {
    list-style: disc inside none;
}

body#credits_subscription .method-content div.summary,
body#credits_subscription .method-content div.top,
body#credits_subscription .method-content div.top div{
    background-color: #CCFFCC;
}

body#credits_subscription .padded-table td {
    padding-left: 5px;
    padding-right: 5px;
}
