.method-group.online #price-container {
    padding-top: 16px;
}

.method-group.phone #pricepoints,
.method-group.online #pricepoints {
    display: inline;
    float: left;
}

.method-group.phone #pricepoints ul,
.method-group.online #pricepoints ul {
    margin-bottom: 13px;
}

.method-group.phone #pricepoints ul li,
.method-group.online #pricepoints ul li {
    display: block;
    border-bottom: solid 1px #ecdfcb;
    height: 25px;
    padding: 5px 0 0 0;
}

.method-group.phone #pricepoints ul li.last,
.method-group.online #pricepoints ul li.last {
    border-bottom: none;
}

.method-group.phone #pricepoints ul li span,
.method-group.online #pricepoints ul li span {
    font-weight: bold;
    color: #333333;
    float: left;
    vertical-align: middle;
    height: 100%;
}

.method-group.phone #pricepoints span.radio,
.method-group.online #pricepoints span.radio {
    width: 25px;
    line-height: 20px;
}

/* */

div.pricepoint-price-container {
    font-size: 20px;
}

span.pricepoint-currency {
    font-size: 12px;
    float: none !important;
}
/*
.pricepoint-price-wholes {
    padding-left: 5px; 
    vertical-align: bottom !important;
    line-height: auto;
    width: auto !important;
}
*/
span.pricepoint-price-decimals {
    font-size: 12px;
    float: none !important;
}


.price div.pricepoint-price-container {
    font-weight: bold;
}

/* */
div.pricepoint-amount-container {
    float: left;
    display: block;
}

div.credit-amount {
    font-size: 20px;
    text-align: right;
    line-height: 20px;
    margin-right: 10px;
    float: left;
    display: block;
    width: auto !important;
}

div.credit-amount-x {
    width: 7px !important;
    background: url(../images/cbs2/habbocredits_x_coin_equals.png) 0 0 no-repeat;
    line-height: 20px;
    margin-right: 5px;
    float: left;
    display: block;
    height: 23px;
}

div.credit-amount-coin {
    width: 26px !important;
    background: url(../images/cbs2/habbocredits_x_coin_equals.png) -11px 0 no-repeat;
    line-height: 20px;
    float: left;
    display: block;
    height: 23px;
}

.price div.credit-amount {
    margin-left: 17px;
    margin-right: 5px;
    font-weight: bold;
}

/* */

.method-group.phone #pricepoints div.credit-amount,
.method-group.online #pricepoints div.credit-amount {
    font-weight: bold;
    min-width: 50px;
}

.method-group.online #pricepoints div.credit-amount-x {

}

.method-group.online #pricepoints div.credit-amount-coin {

}
.method-group.phone #pricepoints {
    width: 100%;  
}

.method-group.phone #pricepoints ul li {
    margin: 0px 15px 0px 70px; 
}
.method-group.phone #pricepoints ul {
    margin-bottom: 25px; 
}

.method-group.phone #pricepoints span.product-description,
.method-group.online #pricepoints span.product-description {
    font-size: 18px;
    min-width: 50px;
    max-width: 200px;
    line-height: 18px;
    margin: 0 5px;
    font-weight: normal;
}

.method-group.phone #pricepoints span.credit-amount-equals,
.method-group.online #pricepoints span.credit-amount-equals {
    width: 11px;
    background: url(../images/cbs2/habbocredits_x_coin_equals.png) -42px 0 no-repeat;
    line-height: 20px;
}

.method-group.phone #pricepoints span.price-in-cents,
.method-group.online #pricepoints span.price-in-cents {
    float: right;
    font-size: 18px;
    min-width: 50px;
    text-align: right;
    margin-left: 10px;
}

.method-group.phone #pricepoints span.price-recurrence,
.method-group.online #pricepoints span.price-recurrence {
    float: right;
    font-size: 14px;
    min-width: 50px;
    text-align: right;
    margin-left: 2px;
    font-weight: normal;
}

.method-group.phone #pricepoints .currency-symbol,
.method-group.online #pricepoints .currency-symbol {
    font-size: 16px;
    font-weight: normal;
    float: none;
}