#change-password-form {
    position: absolute;
    width: 383px;
    z-index: 9001;
    color: #fff;
}

#change-password-form a {
    color: #fff;    
}

#change-password-form-title {
    text-align: center;
    font-size: 18px;
    padding: 7px 5px;
    font-weight: bold;
}

#change-password-form-content .email-address {
	font-size: 18px;
	font-weight: bold;
    height: 30px;
	width: 330px;
    text-align: center;
    color: gray;
    border:1px solid #663333;
}

#change-password-form-content .email-address {
    color: black;
}

#change-password-form-container {
    background: transparent url(../images/frontpage/use_email_bg.png) no-repeat top left;
    padding: 5px 20px;
    overflow: hidden;
}

#change-password-form-container-bottom {
    background: transparent url(../images/frontpage/use_email_bg.png) no-repeat bottom left; height: 10px;
}

.bottom-border  {
    padding-bottom: 15px;
    border-bottom: thin solid #313131;
}

#change-password-submit-button.new-button b,
#change-password-success-button.new-button b {
    background: transparent url(../images/shared_icons/buttons_small.png) no-repeat -6px -100px;
    line-height: 40px;
    text-align: center;
    height: 50px;
    font-size: 18px;
    margin-right: 5px;
}

#change-password-submit-button.new-button i,
#change-password-success-button.new-button i {
    background: transparent url(../images/shared_icons/buttons_small.png) no-repeat 0 -100px;
    width: 6px;
    height: 50px;
}

#change-password-submit-button.new-button i, #change-password-success-button.new-button i {
    background-position: 0 -400px;
}

#change-password-submit-button.new-button:hover i, #change-password-success-button.new-button:hover i {
    background-position: 0 -450px;
}

#change-password-submit-button.new-button b, #change-password-success-button.new-button b {
    background-position: -6px -400px;
}

#change-password-submit-button.new-button:hover b, #change-password-success-button.new-button:hover b {
    background-position: -6px -450px;
}

#change-password-submit-button, #change-password-success-button {
    margin-top: 10px;
    float: right;
    height: 50px;
}

#change-password-form-content form {
    margin: 10px 0;
}

#change-password-form-content #email {
    padding-top: 10px;
}

#change-password-cancel-link, #change-password-change-link {
    float: left;
    line-height: 60px;
    color: #fff;
}

#change-password-form #email-sent-container {
    text-align: center;
    color: #66ccff;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    word-wrap: break-word;
}

#change-password-email-sent-notice div {
    margin-top: 10px;
}

#change-password-form #change-password-error-container {
    margin-top: 5px;
    color: #DA5A4C;
}

#change-password-form-content .email-address.error {
    background-color: #DA5A4C;
    margin-bottom: 5px;
}

#change-password-form-content .email-address {
    color: black;
}

#change-password-form-content span {
    text-align: left;
}