@font-face {
	font-family: 'Vegur';
	src: url('../fonts/vegur_bold-webfont.eot');
	src: local('☺'), url('../fonts/vegur_bold-webfont.woff') format('woff'), url('../fonts/vegur_bold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Vegur';
	src: url('../fonts/vegur_regular-webfont.eot');
	src: local('☺'), url('../fonts/vegur_regular-webfont.woff') format('woff'), url('../fonts/vegur_regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}