html { background: #000000; }

body {
	background: #fff;
	color: #333;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	margin: 2em auto 0 auto;
	width: 700px;
	padding: 1em 2em;
	-webkit-border-radius: 12px;
	font-size: 62.5%;
}

a { color: #2583ad; text-decoration: none; }

a:hover { color: #d54e21; }


h1 {
	font-size: 18px;
	margin-bottom: 0;
}

h2 { font-size: 16px; }

p, li {
	padding-bottom: 2px;
	font-size: 1.3em;
	line-height: 1.8em;
}

code {
	font-size: 1.3em;
}

ul, ol { padding: 5px 5px 5px 22px; }

#logo { margin: 6px 0 14px 0px; border-bottom: none;}

.step a, .step input { font-size: 2em; }

td input { font-size: 1.5em; }

.step, th { text-align: left; padding: 0; }

.submit input, .button, .button-secondary {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	padding: 6px;
	border: none;
	margin-left: 0;
	font-size: 13px !important;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #246;
	background: #e5e5e5;
}

.button-secondary {
	background: #cee1ef;
}

.submit input:hover, .button:hover, .button-secondary:hover {
	color: #d54e21;
}

.form-table {
	border-collapse: collapse;
	margin-top: 1em;
	width: 100%;
}

.form-table td {
	margin-bottom: 9px;
	padding: 10px;
	border-bottom: 8px solid #fff;
}

.form-table th {
	font-size: 12px;
	text-align: left;
	padding: 12px 10px 10px 10px;
	border-bottom: 8px solid #fff;
	width: 110px;
	vertical-align: top;
}

.form-table tr {
	background: #eaf3fa;
}

.form-table code {
	line-height: 18px;
	font-size: 18px;
}

.form-table p {
	margin: 4px 0 0 0;
	font-size: 11px;
}

h1 {
	border-bottom: 1px solid #dadada;
	clear: both;
	color: #666666;
	font: 24px Georgia, "Times New Roman", Times, serif;
	margin: 5px 0 0 -4px;
	padding: 0;
	padding-bottom: 7px;
}

#error-page {
	margin-top: 50px;
}

#error-page p {
	font-size: 14px;
	line-height: 1.6em;
}

#error-page code {
	font-size: 1em;
}