#container { width: 460px }
#back-link { color:#000; display:block; font-size:11px; font-weight:bold; height:41px; line-height:41px; padding-left:10px; text-align:left; }
#back-link a { color:#000 }
.settings-container { background: transparent url(../images/registration/manage_account_bg.png) no-repeat top left; }
.settings-container h1 { color  : #fff; font-size: 16px; font-weight: bold; text-align: center; line-height: 42px; margin-bottom: 0}
.settings-container-bottom { background: transparent url(../images/registration/manage_account_bg.png) no-repeat bottom left; height: 10px }
.activateemail-container { background: transparent url(../images/registration/manage_account_bg.png) no-repeat top left; }
.activateemail-container h1 { color  : #fff; font-size: 16px; font-weight: bold; text-align: center; line-height: 42px; margin-bottom: 0}
.activateemail-container-bottom { background: transparent url(../images/registration/manage_account_bg.png) no-repeat bottom left; height: 10px }

.opt-password { background-color:#F3F3F3; padding: 8px 8px 3px 8px; -moz-border-radius: 5px; -webkit-border-radius: 5px; overflow: hidden; }
.opt-password span { line-height: 30px; }
#change-password label { width: auto }
#captcha_response_field { margin-bottom: 5px }
p.confirmation { background-color:#ddffdd; margin:0 0 10px; padding:7px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border:1px solid #88cc88; }

.form-box {padding: 10px; margin-bottom: 10px; background-color: #E2EFF9; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;}
#email-list li { padding: 7px 5px; margin-bottom: 2px; background-color: #f7f7f7}
#email-list li:hover { background-color: #ffc }
#email-list li span { float: right }

.settings-container #auth-providers li { padding-right: 15px }

.settings-auth .last-access-time { color: #999; font-size: 10px }
a.new-button.delete-method { display: none; }
.mode-delete a.new-button.delete-method { display: block; }

#success-messages { background-color: #D8F4D8; border: 1px solid #78D478; padding: 10px; margin-top: 10px }
#success-messages p { padding: 0 }
span.warning { color: red; font-weight: bold }