body {
    background-color: #ffffff;
    font-size: 11px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    color: #000000;
}

fieldset {
	border: 0;
	padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#fp-container {
    position: relative;
    max-width: 1024px;
    min-width: 776px;
    margin-left: auto;
    margin-right: auto;
}

#header h1 {
    position: absolute;
    left: 20px;
    top: 20px;
	margin: 0;
    z-index: 10;
}

#header h1 a {
    float: left;
	width: 111px;
	height: 42px;
	border: 0;
    background: url(../images/habbo.png) no-repeat;
}

#header .login-register-link {
    position: absolute;
    right: 20px;
    top: 18px;
}
#header .login-register-link, #header .login-register-link a {
    color: #000000;
    font-size: 12px;
}
#header .login-register-link a {
    font-weight: bold;
}

#content {
    margin: 0 20px;
}

.cb { margin: 0 8px 7px 0; }

.bt {
	height: 7px;
	margin: 0 0 0 18px;
	background: no-repeat 100% 0;
}
.bt div {
	position: relative;
	left: -18px;
	width: 18px;
	height: 7px;
	background: no-repeat 0 0;
	font-size: 0;
	line-height: 0;
	z-index: 1;
}

	/* Bottom corners and border */
.bb {
	height: 9px;
	margin: 0 0 0 8px;
	background: no-repeat 100% 100%;
	position: relative;
}
.bb div {
	position: absolute;
	left: -8px;
	width: 8px;
	height: 9px;
	background: no-repeat 0 100%;
	font-size: 0;
	line-height: 0;
	display: block;
}

	/* Left border */
.i1 {
	padding: 0 0 0 1px;
	background: url(../images/borders.png) repeat-y;
}
	/* Right border */
.i2 {
	padding: 0 1px 0 0;
	background: url(../images/borders.png) repeat-y top right;
}
	/* Wrapper for the content. Use it to set the background colour and insert some padding between the borders2 and the content. */
.i3 {
	display: block;
	margin: 0;
	padding: 0;
	background: #fff;
	z-index: 0;
}
	/* Make the content wrapper auto clearing so it will contain floats (see http://positioniseverything.net/easyclearing.html). */
.i3:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.i3 {display: inline-block;}
.i3 {display: block;}

/* */

#frontpage-image {
    background: no-repeat 50% 50%;
    width: 710px;
    height: 369px;
    margin: 32px auto 0 auto;
    position: relative;
    z-index: 0;
    display: block;
    cursor: pointer;
    text-decoration: none;
}

#column-footer {
    margin-left: auto;
    margin-right: auto;
}

#footer {
	clear: both;
	text-align: center;
    width: 680px;
    margin: 0 auto;
    padding-top: 18px;
}

#footer p {
	margin: 0;
    padding: 0;
    font-size: 9px;
    color: #000000;
}

#footer .copyright {
    padding-top: .7em;
    color: #7f7f7f;
}


/* */

#hotel-stats {
    width: 160px;
    float: left;
    margin: 0;
}
#hotel-stats .stats-fig {
    font-weight: bold;
}

#hotel-stats .stats-visited {
    display: none;
}

#tag-cloud-slim {
    margin: 0 0 0 170px;
}
#hotel-stats span, #hotel-stats li,
#tag-cloud-slim a, #tag-cloud-slim span {
    color: #7f7f7f;
    text-decoration: none;
    font-size: 10px;
}

#tag-cloud-slim a:hover {
    text-decoration: underline;
}

#hotel-stats ul, #hotel-stats li,
#tag-cloud-slim ul, .tag-list li {
	display: inline;
}

.bubble .bt, .bubble .bt div,
.bubble .bb, .bubble .bb div,
#hotel-stats .bt, #hotel-stats .bt div,
#hotel-stats .bb, #hotel-stats .bb div,
#tag-cloud-slim .bt, #tag-cloud-slim .bt div,
#tag-cloud-slim .bb, #tag-cloud-slim .bb div {
	background-image: url(../images/frontpage/box_thin.png);
}
.bubble .i1,
#hotel-stats .i1,
#tag-cloud-slim .i1 {
	padding: 0 0 0 1px;
	background: url(../images/frontpage/borders_thin.png) repeat-y;
}
.bubble .i2,
#hotel-stats .i2,
#tag-cloud-slim .i2 {
	padding: 0 1px 0 0;
	background: url(../images/frontpage/borders_thin.png) repeat-y top right;
}
.bubble .i3,
#hotel-stats .i3,
#tag-cloud-slim .i3 {
    background-color: #ffffff;
    padding: 0 10px 0 10px;
}

/* */

.logincontainer {
    width: 223px;
}

.loginbox ul {
    padding: 1px 0 2px 0;
}

.loginbox .login-field, #captcha-code, #recaptcha_response_field {
    display: block;
    width: 187px;
    border: 2px solid #7f7f7f;
    padding-left: 1px;
    padding-right: 1px;
}

label.login-text {
    display: block;
}

.loginbox #register-link {
    display:none;
}

#login-username {
    margin-bottom: 3px;
    margin-top: 1px;
}
#login-password {
    margin-bottom: 5px;
    margin-top: 1px;
}
#remember-me {
    margin-bottom: 3px;
}

#remember-me {
    clear:both;
}
#remember-me input {
    vertical-align: middle;
    margin-left: 0;
}
#forgot-password, #remember-me {
    font-size: 10px;
}

.loginbox h2, .loginbox h3, .loginbox .rounded-container {
    display: none;
}

.loginbox form {
    margin: 0;
    padding: 0;
}

.loginbox .login-field-empty {
    color: #9a9a9a;
    font-weight: bold;
}

.loginbox .bt, .loginbox .bt div,
.loginbox .bb, .loginbox .bb div {
	background-image: url(../images/frontpage/box_login.png);
}

.loginbox .i1 {
	padding: 0 0 0 2px;
	background: url(../images/frontpage/borders_login.png) repeat-y bottom left;
}
.loginbox .i2 {
	padding: 0 2px 0 0;
	background: #ffffff url(../images/frontpage/borders_login.png) repeat-y top right;
}

.loginbox .i3 {
    background-color: transparent;
    padding: 0 9px;
}

.logincontainer {
    position: absolute;
    right: 12px;
    top: 42px;
    z-index: 100;
}

#login-submit-button {
    position: absolute;
}

#login-submit-new-button {
    float: right;
}


/* login captcha */
.login-captcha {
    width: 230px;
}
.login-captcha p, .widehabblet p {
    margin: 0;
    padding: 0;
}
.login-captcha #login-username, .login-captcha #login-password, .login-captcha #captcha-code,
.login-captcha #remember-me, .login-captcha #forgot-password, .login-captcha label.login-text {
    margin-left: 7px;
}
#captcha-reload, #recaptcha-reload {
    margin-bottom: 5px;
    margin-top: 5px;
}
#captcha-container, #recaptcha_image {
    margin-bottom: 7px;
}
#captcha-code, #recaptcha_response_field {
    margin-bottom: 5px;
}
.login-captcha .action-error {
    width:222px;
}
.widehabblet .action-error {
    width:324px;
}


.widehabblet {
    width: 332px;
}
#recaptcha_image {
    border: 1px solid #000000;
    width: 300px;
    height: 57px;
}
.widehabblet #login-username, .widehabblet #login-password, .widehabblet #recaptcha_response_field,
.widehabblet #remember-me, .widehabblet #forgot-password, .widehabblet label.login-text {
    margin-left: 109px;
}

#captcha-reload img, #recaptcha-reload img {display: none;}

/* */

a.new-button {
	margin: 0 0 2px 10px;
	display: block;
	float: left;
	height: 25px;
	position: relative;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
}

a.new-button.disabled-button, a.new-button:disabled {
	cursor: default;
	-moz-opacity: .5;
	opacity: .50;
	filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/* hide this from IE6 */
html > body a.new-button.fill, html > body a.new-button.fill b {
	display: block;
	float: none;
}

a.new-button b {
	float: left;
	padding: 5px 17px 4px 20px;
	font-size: 11px;
	height: 17px;
	margin-right: 3px;
	background: transparent url(../images/new_button.png) no-repeat -3px 0;
	color: #000 !important;
	font-weight: bold;
	text-align: center;
	display: inline;
}


a.new-button:hover { text-decoration: none; }
a.new-button:hover b { background-position: -3px -25px; }
a.new-button.disabled-button:hover b { background-position: -3px 0; }

a.new-button i {
	position: absolute;
	right: 0;
	top: 0;
	width: 3px;
	height: 25px;
	background: transparent url(../images/new_button.png) no-repeat 0px 0px;
}


#partner-logo {
    width: 100%; height: 100%;
    /* Don't combine the background properties so we won't override possible custom_css */
    background-repeat: no-repeat;
    background-position: bottom right;
}

#remember-me-notification {
	color: #333333;
	position: absolute;
	width: 220px;
	z-index: 120;
}

#remember-me-notification .submit {
	margin-bottom: 5px;
}

/* bubbles */
div.bottom-bubble-c {
	background-color: white;
	border-left: 2px solid black;
	border-right: 2px solid black;
	padding: 4px 7px;
}

div.bottom-bubble-t {
	background: url(../images/groups/editbubble-tl.png) no-repeat 0 100%;
	font-size: 1px;
	margin-right: 5px;
	text-align: right;
}

div.bottom-bubble-t div {
	background: url(../images/groups/editbubble-tr.png) no-repeat 100% 100%;
	padding-top: 15px;
	margin-right: -5px;
}

div.bottom-bubble-b {
	background: url(../images/groups/editbubble-bl.png) no-repeat 0 0;
	font-size: 1px;
	margin-right: 5px;
}

div.bottom-bubble-b div {
	background: url(../images/groups/editbubble-br.png) no-repeat 100% 0;
	padding-top: 5px;
	margin-right: -5px;
}

div.flash-message {
	margin-bottom: 12px;
	text-align: center;
}

div.action-error div {
	background-color: #e2001a;
	color: #fff;
}

.action-error {
    width:215px;
    z-index:-10;
}

div.action-error div a { color: #FFCC02 }

div.action-confirmation div {
	background-color: #4bb601;
	color: #fff;
}

/* */

.bubble {
    position: absolute;
    font-size: 10px;
    -moz-opacity: .88;
    opacity: .88;
    filter: alpha(opacity=88);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    height: 24px;
}


.bubble .i1 {
    position: relative;
    background-color: #ffffff;
    z-index: 10;
}
.bubble .i2 {
    height: 4px;
}
.bubble .i3 {
    top: -4px;
    position: absolute;
    background-color: transparent;
}

.bubble .spike {
    position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 8px;
    width: 5px;
    height: 5px;
    background: url(../images/frontpage/spike.png) no-repeat;
    z-index: 12;
}

/* */

#geoip-ad-container {
    position: absolute;
    z-index: 99;
    visibility: hidden;
}
#geoip-ad-container .bt, #geoip-ad-container .bt div,
#geoip-ad-container .bb, #geoip-ad-container .bb div {
    background-image: url(../images/frontpage/box_thin_green.png);
}
#geoip-ad-container .i1 {
	padding: 0 0 0 1px;
	background: url(../images/frontpage/borders_thin_black.png) repeat-y;
}
#geoip-ad-container .i2 {
	padding: 0 1px 0 0;
	background: url(../images/frontpage/borders_thin_black.png) repeat-y top right;
}
#geoip-ad-container .i3 {
    background-color: #1ba90b;
    padding: 0 10px 0 10px;
}
