@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:100,400,300,600,700,800);
body, html {
background: url('../images/index/bg.png');
font-family: Roboto;
padding: 0;                 margin: 0;
position: relative;
}
html {
box-sizing: border-box;
}
*, *:before, *:after {
box-sizing: inherit;
}
#content {
margin: 0 auto;
width: 960px;
}
header {
position: relative;
}
header > #logo {
position: absolute;
left: 0;
height: 75px;
width: 195px;
background: url('../images/header.logo.png');
top: 30px;
}
header > #bubble {
position: absolute;
background: white;
height: 36px;
font-family: Roboto;
line-height: 36px;
padding: 0 20px;
border-radius: 2px;
top: 47px;
left: 210px;
font-size: 16px;
}
header > #bubble > #arrow {
border-style: solid;
border-color: transparent white transparent transparent;
position: absolute;
border-width: 10px;
left: -20px;
top: 50%;
margin-top: -10px;
}
header > #right_content {
float: right;
margin-top: 56px;
}
header > #right_content > .icon {
height: 33px;
width: 31px;
float: right;
cursor: pointer;
transition: opacity 0.5s;
margin-left: 20px;
}
header > #right_content > .icon:hover {
opacity: 0.75;
}
header > #right_content > .icon.icon1 {
background: url('../images/index/fb.png');
}
#main_content {
padding-top: 40px;
}
#main_content > .box {
padding: 20px;
background: white;
border-radius: 2px;
border: 1px solid rgba(0,0,0,0.1);
box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
}
#newsSliderBox {
width: 600px;
height: 300px;
position: relative;
}
#newsSliderBox > .newsContainer {
display: none;
height: inherit;
width: inherit;
position: absolute;
border-radius: 3px;
background-position: -1px -1px;
border: 1px solid rgba(0,0,0,1);
box-shadow: inset 0px 0px 0px 2px rgba(255,255,255,0.2);
}
#newsSliderBox > .newsContainer > div > div {
top: 30px;
left: 30px;
}
#newsSliderBox > .newsContainer > div > div > .newsTitle {
color: white;
font-family: Open Sans;
font-weight: lighter;
font-size: 30px;
line-height: 150%;
}
#newsSliderBox > .newsContainer > div > div > .newsDesc {
font-family: Lato;
font-weight: 300;
font-size: 18px;
width: 600px;
color: rgba(255,255,255,0.8);
line-height: 125%;
}
#newsSliderBox > .aviableSlides {
position: absolute;
height: 64px;
width: 100%;
left: 0;
bottom: 0;
border-radius: 3px;
}
#newsSliderBox > .aviableSlides > div > .circle {
height: 15px;
width: 15px;
float: left;
margin-right: 15px;
border-radius: 15px;
background: #c0392b;
border: 4px solid white;
cursor: pointer;
}
.error {
position: absolute;
width: 100%;
height: 80px;
color: white;
background: darkred;
z-index: 99999;
padding: 0 10px;
text-align: center;
top: 50%;
margin-top: -40px;
font-size: 18px;
font-family: Roboto;
line-height: 80px;
font-weight: lighter;
}
.success {
position: absolute;
width: 100%;
height: 80px;
color: white;
background: green;
z-index: 99999;
padding: 0 10px;
text-align: center;
top: 50%;
margin-top: -40px;
font-size: 18px;
font-family: Roboto;
line-height: 80px;
font-weight: lighter;
}
#newsSliderBox > .aviableSlides > div > .circle.active {
background: #2ecc71;
cursor: default;
}
#loginArea {
width: 300px;
margin-left: 10px;
float: left;
font-family: Roboto;
}
.group  {
position:relative;
margin-bottom:45px;
}
input {
font-size:18px;
padding:10px 10px 10px 5px;
display:block;
width:300px;
border:none;
border-bottom:1px solid #757575;
}
input:focus { outline:none; }
label  {
color:#999;
font-size:18px;
font-weight:normal;
position:absolute;
pointer-events:none;
left:5px;
top:10px;
transition:0.2s ease all;
-moz-transition:0.2s ease all;
-webkit-transition:0.2s ease all;
}
input:focus ~ label, input:valid ~ label{
top:-20px;
font-size:14px;
color:#5264AE;
}
.bar{ position:relative; display:block; width:300px; }
.bar:before, .bar:after {
content:'';
height:2px;
width:0;
bottom:1px;
position:absolute;
background:#5264AE;
transition:0.2s ease all;
-moz-transition:0.2s ease all;
-webkit-transition:0.2s ease all;
}
.bar:before {
left:50%;
}
.bar:after {
right:50%;
}
input:focus ~ .bar:before, input:focus ~ .bar:after {
width:50%;
}
.highlight {
position:absolute;
height:60%;
width:100px;
top:25%;
left:0;
pointer-events:none;
opacity:0.5;
}
input:focus ~ .highlight {
-webkit-animation:inputHighlighter 0.3s ease;
-moz-animation:inputHighlighter 0.3s ease;
animation:inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
from { background:#5264AE; }
to 	{ width:0; background:transparent; }
}
.button {
display: inline-block;
position: relative;
width:300px;
height: 40px;
line-height: 40px;
border-radius: 2px;
font-size: 0.9em;
background-color: #fff;
color: #646464;
cursor: pointer;
margin-left: 5px;
}
.button2 {
display: inline-block;
position: relative;
width:300px;
height: 50px;
line-height: 50px;
border-radius: 2px;
font-size: 0.9em;
background-color: #fff;
color: #646464;
cursor: pointer;
margin-left: 5px;
}
.button3 {
display: inline-block;
position: relative;
width:325px;
height: 50px;
line-height: 50px;
border-radius: 2px;
font-size: 0.9em;
background-color: #fff;
color: #646464;
cursor: pointer;
margin-left: 5px;
}
.button.blue {
background-color: #4285f4;
color: #fff;
}
.button2.blue {
background-color: #4285f4;
color: #fff;
}
.button3.blue {
background-color: #4285f4;
color: #fff;
}
.button.green {
background-color: #0f9d58;
color: #fff;
}
.button.orange {
background-color: #FF6600;
color: #fff;
}
.button.raised {
transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
transition-delay: 0.2s;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.button.raised:active {
box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
transition-delay: 0s;
}
.infoBox {
background: white;
float: left;
padding: 20px;
margin-top: 10px;
margin-right: 10px;
line-height: 150%;
width: 313px;
border-radius: 2px;
border: 1px solid rgba(0,0,0,0.2);
box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
transition: transform 0.2s;
font-size: 15px;
}
.infoBox:hover {
transform: scale(1.2);
}
.infoBox > .infoImage {
height: 50px;
border-radius: 25px;
width: 50px;
margin-right: 10px;
box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,1);
}
#footer {
height: 75px;
position: fixed;
bottom: 0;
width: 100%;
background: #2c3e50;
color: white;
}
#footer > div > a {
color: white;
text-decoration: none;
}
#footer > div > a:hover {
text-decoration: underline;
}
#home-anchor{top:0}.home-anchor-day{background:url('../../images/v3/bg_hotel.out.png') 475px 0 no-repeat}.home-anchor-night{background:url('../../images/v3/bg_hotel_night.out.png') 475px 0 no-repeat}#registration-anchor{background:url('../../images/v3/reg_illustration.png') 800px 124px no-repeat;top:2200px}
#floaters{position:absolute;top:888px;left:135px;background:url('../../images/v3/floaters.out.png') 0 0 no-repeat;width:186px;height:136px}#sail{position:absolute;top:1500px;left:470px;background:url('../../images/v3/sail.out.png') 0 0 no-repeat;width:96px;height:109px}#baggage{position:absolute;top:1500px;left:850px;background:url('../../images/v3/reg_bags.png') 0 0 no-repeat;width:96px;height:109px}
#overlay{display:none;position:absolute;top:0;left:0;width:100%;height:100%;z-index:9000;background-color:#000;-ms-filter:"alpha(opacity=80)";filter:alpha(opacity=80);-moz-opacity:.8;opacity:.80}
iframe[src="about:blank"]{display:none}#content.login-error li{margin-top:35px}
#content.login-captcha #welcome,#content.login-captcha #carousel{margin-top:109px}#alerts{margin:0 32px}.button,.new-button{position:relative;display:block;height:25px;background-color:#437a86;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-align:center;color:#fff;text-decoration:none;font-size:14px;line-height:25px;box123-shadow:3px 3px rgba(0,0,0,0.4)}
.button b,.new-button i{position:absolute;display:block;left:2px;top:3px;right:2px;height:9px;background-color:#4a9fb4;z-index:0}.button:hover,.new-button:hover{background-color:#418491}.button:hover b,.new-button:hover i{background-color:#46a9bf}.button span,.new-button b{position:relative;z-index:100}
.button:active,.button-active,.new-button:active{left:1px;top:1px;box123-shadow:2px 2px rgba(0,0,0,0.4)}.button.dimmed{-ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50);-moz-opacity:.5;opacity:.50}.button.large{height:100px;background-color:#c78800;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #5f4416}
.button.large:hover{background-color:#d99b00}.button.large:hover b{background-color:#f7ce00}.button.large b{left:4px;top:4px;right:4px;height:48px;background-color:#f0bb00;-webkit-border-radius:2px 2px 0 0;-moz-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0}.button.large span{display:block;font-size:27px;font-weight:bold;text-transform:uppercase;text-shadow:1px 1px 2px rgba(0,0,0,0.4);line-height:54px}
.button.large span.sub{display:block;font-size:17px;font-weight:bold;line-height:42px;text-transform:none}.button.large.not-so-large{height:48px}.button.large.not-so-large b{height:20px}.button.large.not-so-large span{text-transform:none;font-size:22px;line-height:46px}.new-button.fill.ok{width:100px;margin:10px auto 2px}
headerditboeitniet,footer{width:100%;background:#101016;background:rgba(16,16,22,0.85);position:fixed;z-index:999}headerditboeitniet{top:0;min-height:99px}headerditboeitniet.login-error{height:134px!important}headerditboeitniet.captcha-enabled{height:207px!important}headerditboeitniet #border-left{position:absolute;width:164px;height:1px;left:0;bottom:0;border-bottom:1px solid #7aa3b9}
headerditboeitniet #border-right{position:absolute;width:100%;height:1px;left:220px;bottom:0;border-bottom:1px solid #7aa3b9}footer{height:129px;bottom:-30px;border-top:1px solid #7aa3b9}#top-bar-triangle,#top-bar-triangle-border{position:absolute;left:163px;bottom:-29px}#top-bar-triangle{font-size:0;height:0;line-height:0;border-style:solid;float:left;margin:0;border-color:#101016 transparent;border-color:rgba(16,16,22,0.85) transparent;border-width:29px 29px 0 29px}
#top-bar-triangle-border{background-image:url('../../images/v3/top_bar_arrow_border.out.png');width:58px;height:29px}headerditboeitniet #habbo-logo{position:absolute;width:110px;height:40px;background-image:url('../../images/v3/habbologo_whiteR.out.png');left:32px;top:27px}#login-form-container{position:relative}#login-form-container input{border:2px solid rgba(0,0,0,0);border-radius:3px}
#login-form-container #credentials-submit{margin-top:2px;padding-bottom:1px}#login-form-container input:focus{border:2px solid rgba(0,0,0,0);border-radius:3px;-webkit-box123-shadow:0 0 1px 2px #5a6b8b;-moz-box123-shadow:0 0 1px 2px #5a6b8b;box123-shadow:0 0 1px 2px #5a6b8b}headerditboeitniet form{position:relative;left:239px;top:0;width:740px;height:99px}
#login-columns{position:relative}headerditboeitniet form.captcha{height:200px}headerditboeitniet form.captcha #login-recaptcha{position:absolute;top:-81px;left:-209px;height:103px;margin-top:8px}#login-recaptcha .field-error,#login-recaptcha #captcha-overlay{background-color:#ffd912;-ms-filter:"alpha(opacity=20)";filter:alpha(opacity=20);-moz-opacity:.2;opacity:.2;width:300px;height:57px;position:absolute;top:0}
#login-recaptcha-left #login-recaptcha-left-input{margin:9px 0 0 20px;float:left}#login-recaptcha-left #captcha-image-container{float:left}#login-column-1{position:absolute;left:0;top:11px;width:205px;height:70px}#login-column-2{position:absolute;left:214px;top:11px;width:134px;height:70px}#login-column-3{position:absolute;left:358px;top:32px;width:205px;height:55px}
#login-column-4{position:absolute;left:554px;top:32px;width:195px;height:55px}headerditboeitniet form label{font-size:13px;font-weight:bold;color:#a4c0d7}headerditboeitniet form .sub-label,.janrainEngage{font-size:12px;font-weight:bold;color:#6898bd}headerditboeitniet form input{border:2px solid #cfcfcf;padding:2px 2px 3px 2px;font-size:13px}
#credentials-email{width:197px}#credentials-password{width:126px}headerditboeitniet form #credentials-remember-me{display:block;float:left;margin:6px 6px 0 0;padding:0;border:1px solid #1c5181}#credentials-submit{width:96px}#login-recaptcha-left-reload{width:300px}#login-recaptcha-left-reload a{color:#000}#recaptcha_response_field{width:292px}
#login-errors{width:100%;height:auto;background-color:#fc6621;color:#fff;font-size:17px;font-weight:bold;text-align:center;line-height:35px}#captcha-enabled{width:100%;height:108px;background-color:#fc6621;color:#000;padding-left:30px;font-size:17px;font-weight:bold;line-height:35px}#login-errors a{color:#000}
#footer-content{float:left;margin-left:50px;max-width:62%}#footer-content.partner-logo-present{margin-left:20px}#footer{margin-top:19px}#footer a{color:#a1b5c8;text-decoration:none;font-size:13px}#footer a:hover{text-decoration:underline}#copyright{width:730px;margin-top:10px;color:#425c73;font-size:11px;font-style:italic}
div#sulake-logo a{background:transparent url(../../images/v3/sulake_logo.out.png) no-repeat center;width:87px;height:75px;float:right;margin:11px 25px 0 0;right:25px}#partner-logo{height:100%;float:left;padding-top:27px;margin-left:50px}#partner-logo a{width:120px;height:55px;background-repeat:no-repeat;display:inline-block}
#home-anchor #welcome{position:absolute;left:50px;top:140px}.hotel-closed{background-image:url('../../images/v3/stars.png');background-image:url('../../images/v3/stars.png'),-webkit-radial-gradient(190px 190px,circle farthest-side,#006f94 0,#002936 480px);background-image:url('../../images/v3/stars.png'),-moz-radial-gradient(190px 190px,circle farthest-side,#006f94 0,#002936 480px);background-image:url('../../images/v3/stars.png'),-ms-radial-gradient(190px 190px,circle farthest-side,#006f94 0,#002936 480px);background-image:url('../../images/v3/stars.png'),radial-gradient(circle farthest-side at 190px 190px,#006f94 0,#002936 480px)}
#join-now-button{width:279px}#hotel-closed-img{background-image:url('../../images/v3/hotel_closed.png');width:127px;height:132px;margin-left:79px}#welcome #slogan{position:absolute;top:6px;left:331px;width:520px;height:138px}#welcome #slogan.registration-disabled{left:0}#welcome #slogan h1,#welcome #slogan p{margin:0}
#welcome #slogan h1{font-weight:bold;font-style:italic;font-size:40px;color:#e0eff5;line-height:33px;text-shadow:2px 2px 2px rgba(0,0,0,0.4);margin-bottom:5px}#welcome #slogan p{font-style:italic;font-size:20px;color:#7ecaee;text-shadow:1px 1px 2px rgba(0,0,0,0.4)}#welcome #slogan a{font-style:italic;font-size:14px;color:#9edefc}
#carousel{position:relative;left:50px;top:280px;width:846px;height:212px;background:#c7dbe3;background:rgba(199,219,227,0.90);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border:1px solid #004f68;box123-shadow:3px 3px rgba(0,0,0,0.4);overflow:hidden}#carousel #image1,#carousel #image2,#carousel #image3{position:absolute;width:272px;height:198px;top:6px;border:1px solid black;background-repeat:no-repeat}
#carousel #image1{left:6px;background-image:url('../../images/v3/carousel_left_000.out.png')}#carousel #image2{left:286px;background-image:url('../../images/v3/carousel_middle_002.out.png')}#carousel #image3{left:566px;background-image:url('../../images/v3/carousel_right_003.out.png')}#tell-me-more{display:none;position:absolute;left:329px;font-size:15px;font-weight:bold;font-style:italic;color:#00748c;margin:40px 50px 0 0}
#geotargeting{position:absolute;left:50px;top:520px;font-style:italic;color:#7ecaee;text-shadow:1px 1px 2px rgba(0,0,0,0.4)}#geotargeting a{color:#7ecaee}#registration-form{visibility:hidden;position:absolute;width:683px;left:72px;top:128px;z-index:20}#registration-form-headerditboeitniet{padding-bottom:2px;border-bottom:1px solid #466778}
#registration-form-headerditboeitniet h2{margin:4px auto 5px -2px;padding:0;font-family:"Ubuntu Condensed";font-weight:normal;font-size:55px;color:#fff;line-height:1em;text-transform:uppercase;display:inline-block}#registration-form-headerditboeitniet p{margin:0 0 12px 20px;font-family:"Ubuntu",Arial,serif;font-size:18px;font-weight:bold;font-style:italic;color:#5198be;line-height:1em;display:inline-block}
#registration-form-main123{margin:5px 20px 14px 0;height:300px}#registration-form.hide-captcha #registration-form-main123{height:250px}#registration-form-main123-left{float:left;width:331px;height:100%;margin-bottom:6px}#registration-disclaimer{color:#81959e;font-family:"Ubuntu Condensed",Arial,serif;font-size:13px}
#registration-form-main123-right,#parent-email-container{float:right;width:311px;margin-left:7px;height:100%}#registration-form-main123 #birthday{margin:4px 0 14px 7px;width:90%}#registration-form-main123 input,#registration-form-main123 img,#registration-form-main123 select{margin-left:7px}#captcha-container{min-height:190px}
#registration-form.hide-captcha #captcha-container{display:none}#registration-form-main123 #captcha-container img{margin-top:7px}#registration-form-main123 #captcha-new,#registration-form-main123 #login-recaptcha-left-reload{float:right;margin-top:5px;margin-bottom:0;margin-right:7px;border:1px solid rgba(0,0,0,0)}
#registration-form-main123 #captcha-container input{width:294px}#registration-form input,#registration-form select{margin-bottom:11px;margin-left:0;margin-top:9px;border:2px solid rgba(0,0,0,0);border-radius:3px}#registration-form input:focus,#registration-form select:focus{border:2px solid rgba(0,0,0,0);border-radius:3px;-webkit-box123-shadow:0 0 1px 2px #5a6b8b;-moz-box123-shadow:0 0 1px 2px #5a6b8b;box123-shadow:0 0 1px 2px #5a6b8b}
#registration-birthday{margin-top:10px;margin-bottom:9px}#registration-form input{width:300px}#registration-form-main123 label{font-family:"Ubuntu Condensed",Arial,serif;font-size:28px;color:#9ec6dc;display:inline-block;margin:0}#registration-form-main123 .details{font-size:16px;font-weight:normal;color:#5198be;max-width:90%;line-height:17px}
#registration-form-main123 .details span{color:#f2b560}::-webkit-input-placeholder{color:#ff4c4a}:-moz-placeholder{color:#ff4c4a}::-moz-placeholder{color:#ff4c4a}:-ms-input-placeholder{color:#ff4c4a}#registration-form-main123 .details em,#registration-form-main123 .details a,#registration-form-main123 .details b{color:#fff;font-weight:normal}
#registration-form-main123 .checkbox123{display:inline-block;vertical-align:top;margin-top:2px}#registration-form-main123 .checkbox123-container{margin:4px 0 0 -1px}#registration-form-main123 input[type="checkbox123"]{border-radius:6px;width:16px;margin:0;display:inline-block}.submit-button-wrapper{padding:14px 0 24px 0;margin-top:5px}
#registration-form-main123 .register-submit{width:298px;margin-left:6px}.field-error{background-color:#e67300;color:#fff;clear:both;margin:0 22px 2px 0;padding:2px 4px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;font-size:12px}#registration-form-main123-right .field-error{margin-right:8px}
#parent-email-container .field-error{margin-right:7px}#parent-email-container input{width:295px}input.error,.error select,#captcha-overlay.error{background-color:#f2b560}#registration-form #captcha-image-container{position:relative;margin-left:-7px}#registration-form #captcha-overlay{background-color:#69cfe9;-ms-filter:"alpha(opacity=20)";filter:alpha(opacity=20);-moz-opacity:.2;opacity:.20;width:300px;height:57px;position:absolute;left:7px;top:07px}
.overlay-dialog{position:absolute;width:383px;z-index:9001;color:#fff}.overlay-dialog a{color:#fff}.overlay-dialog h2{text-align:center;font-size:18px;padding:7px 5px;font-weight:bold}.overlay-dialog .form-container .email-address{font-size:18px;font-weight:bold;height:30px;width:330px;text-align:center;color:black;border:1px solid #633}
.overlay-dialog .form-container{background-color:#3d3d3d;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:5px 20px;overflow:hidden}.overlay-dialog .form-container-bottom{display:none}.bottom-border{padding-bottom:15px;border-bottom:thin solid #313131}.overlay-dialog .form-container .new-button{width:120px;float:right;margin-right:12px;margin-top:18px}
#email-changed-submit-button{width:180px;margin:14px 12px 14px 0}.overlay-dialog .form-container form{margin:10px 0}#change-password-form-content #email{padding-top:10px}#change-password-cancel-link,#change-password-change-link{float:left;line-height:60px;color:#fff}#change-password-form #email-sent-container{text-align:center;color:#6cf;font-size:18px;font-weight:bold;padding-top:10px;word-wrap:break-word}
#change-password-email-sent-notice div,#email-changed-notice-content div{margin-top:10px}#change-password-error-container,#email-changed-error-container{margin-top:5px;color:#da5a4c}#change-password-form-content .email-address.error,#email-changed-notice #email-changed-update-email.error{background-color:#da5a4c;margin-bottom:5px}
#change-password-form-content span{text-align:left}#email-changed-notice #email{padding-top:10px}#email-changed-skip{position:relative;top:14px;font-size:13px;color:#f24805}.overlay-dialog .form-container li{list-style:none}.overlay-dialog .form-container h3{font-size:18px}#identity-combine-prompt-title{background:url(../../v2/images/frontpage/use_email_icons.png) no-repeat 10px -34px;padding:0 5px}
#identity-combine-prompt-title-container{padding:0 5px}.overlay-text{font-size:12px}a#donotcombine-link{float:left;color:#fff;font-size:12px;text-align:left;max-width:170px;padding:20px 0 0 0}form#identity-combine-form{margin-top:15px}#submit-section{height:45px}#do-not-show-checkbox123{float:left;padding:5px 0 0 0}
.combine-illustration{padding:15px 10px 15px 30px;margin-left:auto;margin-right:auto}#plus-image{padding:22px 0 5px 8px;position:relative;left:-15px}#plus-image.center{left:0}.combine-provider-image{position:relative;z-index:1;left:-110px;top:-13px}.combine-provider-image.center{left:-70px;top:-10px}
.character-image{position:relative;z-index:1;left:-28px;top:-6px}.combine-illustration .combine-source{float:left;margin-right:-30px}.combine-illustration .combine-target{float:right;margin-right:-5px}div#alert-cookies-container,div#alert-javascript-container{clear:both;margin-bottom:16px;background-color:#fc0;padding:10px 18px;font-size:13px;color:black;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px}
div#alert-cookies-title,div#alert-javascript-title{border-bottom:1px solid #d39a00;font-size:18px;font-weight:bold;background-image:url(../../v2/images/registration/warning_sign_outline.png);background-repeat:no-repeat;background-position:10px 4px;padding:0 0 9px 40px;margin-bottom:12px}div#alert-cookies-text,div#alert-javascript-text{padding-left:9px}
div#alert-cookies-text a,div#alert-javascript-text a{font-weight:bold}#eu_cookie_policy{display:none;width:100%;background-color:#f0bb00;color:#000;font-family:Ubuntu,Arial,serif;font-size:13px;vertical-align:middle;padding:5px 0 16px 0;z-index:9999999}#eu_cookie_policy div{margin-bottom:-9px;padding:0 5px 0 50px}
#eu_cookie_policy a{font-weight:bold;color:#000}#eu_cookie_policy a.close{margin-right:20px}#eu_cookie_policy a.close:before{background:url('../../images/v3/eu_cookie_close.png') transparent no-repeat;height:13px;width:13px;position:relative;content:'';padding-right:15px;bottom:-1px}
.fb_button{background-size:auto;display:inline-block;min-width:22px;height:22px;background:#5f78ab url(../../v2/images/facebook/facebook_logos.png) no-repeat 0 -132px;color:#fff;cursor:pointer;vertical-align:top;line-height:14px}.fb_button_border{display:inline-block;border-top:1px solid #29447e;border-right:1px solid #29447e;border-bottom:1px solid #1a356e;background-color:#5f78ab;margin-left:22px}
.fb_button_text{font-size:11px;padding:2px 6px 3px;font-weight:bold;display:inline-block;border-top:1px solid #879ac0;white-space:nowrap;text-align:left;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;color:#fff}.janrainheaderditboeitniet div{font-size:16px}
/* Stukje bootstrap */
.modal-open{overflow:hidden}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0}.modal.fade .modal-dialog{-webkit-transition:-webkit-transform .3s ease-out;-o-transition:-o-transform .3s ease-out;transition:transform .3s ease-out;-webkit-transform:translate(0,-25%);-ms-transform:translate(0,-25%);-o-transform:translate(0,-25%);transform:translate(0,-25%)}.modal.in .modal-dialog{-webkit-transform:translate(0,0);-ms-transform:translate(0,0);-o-transform:translate(0,0);transform:translate(0,0)}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto;margin:10px}.modal-content{position:relative;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #999;border:1px solid rgba(0,0,0,.2);border-radius:6px;outline:0;-webkit-box-shadow:0 3px 9px rgba(0,0,0,.5);box-shadow:0 3px 9px rgba(0,0,0,.5)}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}.modal-backdrop.fade{filter:alpha(opacity=0);opacity:0}.modal-backdrop.in{filter:alpha(opacity=50);opacity:.5}.modal-header{min-height:16.43px;padding:15px;border-bottom:1px solid #e5e5e5}.modal-header .close{margin-top:-2px}.modal-title{margin:0;line-height:1.42857143}.modal-body{position:relative;padding:15px}.modal-footer{padding:15px;text-align:right;border-top:1px solid #e5e5e5}.modal-footer .btn+.btn{margin-bottom:0;margin-left:5px}.modal-footer .btn-group .btn+.btn{margin-left:-1px}.modal-footer .btn-block+.btn-block{margin-left:0}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:768px){.modal-dialog{width:600px;margin:30px auto}.modal-content{-webkit-box-shadow:0 5px 15px rgba(0,0,0,.5);box-shadow:0 5px 15px rgba(0,0,0,.5)}.modal-sm{width:300px}}@media (min-width:992px){.modal-lg{width:900px}}