/* CSS STYLE CREATED BY Z3RO */
/*    www.mercuryzero.com 	 */

body {
	background: #ecf0f5;
}

.card {
	box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.09);
}

nav {
	background: #378cbe;
	box-shadow: none;
}

nav ul a:hover {
    background-color: transparent;
}

.side-nav {
	box-shadow: none;
}

.side-nav li {
	background: #222d32;
}

.side-nav.fixed a {
	color: #b8c7ce;
	font-weight: 300;
}

.box-blue {
	padding: 3px;
	margin-bottom: 4px;
	opacity: 0.7;
    color: #fff;
    font-weight: bold !important;
    font-size: 14px;
    text-align: center;
    background: #2767a7/* ROJO #a40429*/;
}

@media only screen and (min-width: 993px){
.container {
    width: 70%;
    margin-left: auto;
    margin-right: 54px;
}
}