/* CSS STYLE CREATED BY Z3RO */
/*    www.mercuryzero.com 	 */

body {
	background: url('http://static.habbo-happy.net/img/articles/76ba12_izquierda.png') no-repeat 0% 100%, url('http://habbez.net/web/images/bgs.png');
    background-attachment: fixed;
	font-family: sans-serif;
	font-size: 11px;
}

html {
	font-size: 13px;
	line-height: 1.9;
}

/* {INICIO} BARRA DEL MENÚ */
nav {
	background: #fff;
	box-shadow: none;
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.14);
}

select {
    display: initial !important;
}

nav .brand-logo {
	color: #000;
}

nav ul li {
    padding: 0px 6px 0px 6px;
}

nav ul a {
	color: #000;
}

nav ul a:hover {
	color: #4183d7;
	background-color: transparent;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	color: #000;
}
/* {FINAL} BARRA DEL MENÚ */
@media only screen and (min-width: 993px){
	.container {
		width: 40% !important;
		    max-width: 1020px !important;
	}
}
/* {INICIO} MENÚ DESPLEGABLE */
.dropdown-content {
	min-width: 140px;
    top: 59px !important;
}

.dropdown-content li>a, .dropdown-content li>span {
	color: #000 !important;
}
/* {FINAL} MENÚ DESPLEGABLE */

/* {INICIO} BOX TITULOS, CONTENIDO */
.box-blue {
/* ANTIGUO STYLE
	clear: both;
    min-height: 50px;
    padding: 10px;
    color: rgba(0,0,0,.8);
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    border-bottom: 1px solid #eee; */
	padding: 3px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold !important;
    font-size: 17px;
    text-align: center;
    background: #2767a7/* ROJO #a40429*/;
}

.box-news {
	height: 40px;
	width: 100%;
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
	padding: 5px 0px 0px 20px;
}

.box-news .title {
	font-weight: bold;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 21px;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
	margin-bottom: 7px;
}

.box-news .autor {
	color: #fff;
	font-size: 18px;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}
/* {FINAL} BOX TITULOS, CONTENIDO */

/* {INICIO} HOME DEL HOTEL */
.info-profile {
	width: 128px;
	height: 220px;
	max-height: 145px;
	margin-left: 30px;
}

.credits {
    height: 15px;
    padding: 0px 25px 0px 25px;
    width: 15px;
    line-height: 15px;
}

.duckets {
    height: 16px;
    padding: 0px 25px 0px 25px;
    width: 16px;
    line-height: 16px;
}

.diamonds {
    height: 15px;
    padding: 0px 25px 0px 25px;
    width: 15px;
    line-height: 15px;
}

.button {
	height: 37px;
	width: 315px;
}

.button .left {
	width: 10px;
	height: 37px;
}

.button .center {
	width: 277px;
	height: 37px;
	margin-left: 10px;
	line-height: 34px;
    font-size: 20px;
	color: #fff;
}

.button .right {
	width: 28px;
	height: 37px;
}
/* {FINAL} HOME DEL HOTEL */

.card {
	position: relative;
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #ccc;
    padding: 10px 10px 10px 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 10px;
}

.row {
	margin-bottom: 0px !important;
}