#promo-box .enter-btn.closed b {
    background-position: 0 -108px
}
#contentBox .content {
    padding: 10px;
}	
#promo-box {
    width: 100%;
    height: 203px;
    position: relative;
}
.showmore-news-center {
    right: 230px;
    bottom: 11px;
    font-size: 13px;
    border-radius: 2px;
    position: absolute;
    color: #fff;
    margin-top: 5px;
    background: #2ecc71;
    padding: 7px;
    cursor: pointer;
    transition: 200ms opacity;
}
#promo-box #promo-bullets {
    position: absolute;
    left: -12px;
    top: 0;
    width: 680px;
    height: 12px;
    padding: 20px 0 18px 20px;
    z-index: 30
}

#promo-box #promo-bullets a {
    background-color: #fff;
    background-position: center center;
    float: left;
    height: 34px;
    margin-right: 6px;
    text-indent: -9999px;
    width: 34px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    opacity: .3;
    outline: 0;
    margin-top: 188px;
    cursor: pointer;
}

#bottom_promo_100005372197939 {
    background: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 49px;
    position: absolute;
    z-index: 0;
    left: 0px;
    bottom: 0px;
	border-radius: 5px;
}

#promo-box #promo-bullets a:hover,
#promo-box #promo-bullets a.active {
    opacity: 1.0
}

#promo-box .promo-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 203px;
    border-radius: 5px;
    padding: 45px 0 0 20px;
}

#promo-box .promo-content {
    width: 527px;
    color: #fff
}

#promo-box .promo-content .title_news_100005372197939 {
    font-size: 20px;
    margin-bottom: 15px;
    width: 328px;
    margin-top: -23px;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000;
}

#promo-box .promo-content .body_news_100005372197939 {
    font-size: 14px;
    width: 263px;
    font-weight: 300;
    text-shadow: 1px 1px 1px #000;
}

#promo-box .enter-hotel-btn {
    position: absolute;
    bottom: 5px;
    right: 8px
}

#promo-box .enter-hotel-btn .enter-btn {
    white-space: nowrap
}