﻿body {
	background: url(../images/hw16_right.png) no-repeat 100% 100%, url(../images/hw16_left.png) no-repeat 0% 100%, url(../images/bg.png);
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.container {
	background: rgba(255, 255, 255, 0.87);
	box-shadow: 0px 0px 85px rgba(0,0,0,0.90), 0px 0px 30px rgba(0,0,0,0.70);
}

/* INICIO HEADER */
nav {
	background: #fff;
	height: 80px;
    box-shadow: 0px 1px 9px rgba(0, 0, 0, 0.68);
}

nav ul a:hover {
    background-color: transparent;
}

nav ul.left {
	padding: 22px 0px;
}

nav ul.right {
	padding: 22px 35px;
}

.bubble {
	height: 36px;
    line-height: 17px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #1d1033;
	background: rgba(53,26,102,1);
	background: -moz-linear-gradient(top, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,26,102,1)), color-stop(81%, rgba(29,16,51,1)), color-stop(100%, rgba(29,16,51,1)));
	background: -webkit-linear-gradient(top, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	background: -o-linear-gradient(top, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	background: linear-gradient(to bottom, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#351a66', endColorstr='#1d1033', GradientType=0 );
}

.bubble .icon {
	padding: 0px 8px 0px 0px;
}

.container .row {
	padding-left: 10px;
	padding-right: 10px;
}

.card {
	box-shadow: none;
}

.card .card-content span {
	color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-top: 7px;
    position: absolute;
}

.card .card-content font {
	color: #fff;
	font-size: 11.5px;
    margin-top: -10px;
    position: absolute;
}

.loginerror {
	margin-top: -21px;
    margin-bottom: 7px;
    text-align: center;
    background: #8BC34A;
    border-bottom: 3px solid #608c2d;
    color: #fff;
    padding: 5px 0px;
    border-radius: 4px;
    width: 93%;
}

.card .card-content xd {
	line-height: 15px;
    font-size: 14px;
    color: #fff;
}

.card .card-content .boton-noticia {
	position: absolute;
    margin-top: 21px;
	color: #fff;
    padding: 7px 10px;
    border-radius: 4px;
    border: 2px solid rgba(29, 16, 51, 0.62);
	background: rgba(53,26,102,1);
	background: -moz-linear-gradient(top, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(53,26,102,1)), color-stop(81%, rgba(29,16,51,1)), color-stop(100%, rgba(29,16,51,1)));
	background: -webkit-linear-gradient(top, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	background: -o-linear-gradient(top, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	background: -ms-linear-gradient(top, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	background: linear-gradient(to bottom, rgba(53,26,102,1) 0%, rgba(29,16,51,1) 81%, rgba(29,16,51,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#351a66', endColorstr='#1d1033', GradientType=0 );
}

input {
	background: #fafafa !important;
    width: 92% !important;
	border-radius: 4px !important;
	padding: 0px 10px !important;
    border-bottom: 2px solid rgba(66,66,82,0.40) !important;
}

input.userinput{
	background-image:url(../images/input1_icon.png) !important;
	background-position: left center !important;
    padding: 0px 0px 0px 29px !important;
    width: 85% !important;
    background-repeat: no-repeat !important;
}

input.passwordinput{
	background-image:url(../images/input2_icon.png) !important;
	background-position: left center !important;
    padding: 0px 0px 0px 29px !important;
    width: 85% !important;
    background-repeat: no-repeat !important;
}

.module-header {
    position: relative;
    padding: 0 0 10px 0;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
    color: #262626;
    text-transform: uppercase;
}

.btn-login {
	border: 1px solid rgb(15, 90, 0);
    width: 93%;
    padding: 6px 0px;
    color: #fff;
    border-radius: 130px;
	background: rgba(25,148,0,1);
	background: -moz-linear-gradient(top, rgba(25,148,0,1) 0%, rgba(7,36,0,1) 91%, rgba(7,36,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(25,148,0,1)), color-stop(91%, rgba(7,36,0,1)), color-stop(100%, rgba(7,36,0,1)));
	background: -webkit-linear-gradient(top, rgba(25,148,0,1) 0%, rgba(7,36,0,1) 91%, rgba(7,36,0,1) 100%);
	background: -o-linear-gradient(top, rgba(25,148,0,1) 0%, rgba(7,36,0,1) 91%, rgba(7,36,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(25,148,0,1) 0%, rgba(7,36,0,1) 91%, rgba(7,36,0,1) 100%);
	background: linear-gradient(to bottom, rgba(25,148,0,1) 0%, rgba(7,36,0,1) 91%, rgba(7,36,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#199400', endColorstr='#072400', GradientType=0 );
}

.card-content p {
	margin-top: 7px !important;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    color: #3e3f3a !important;
}

.colorDiamond {
    color: #4C8486;
	border-bottom: 2px solid #4C8486;
}

.colorBeige {
	color: #BD9300;
	border-bottom: 2px solid #BD9300;
}

footer
{
	width: 65%;
    bottom: 11;
    position: absolute;
    height: 65px;
}
/* FINAL HEADER */

