﻿div.b_bg_pattern_abstract2,div.b_bg_pattern_abstract2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_abstract2.gif);
}
div.b_bg_colour_01,div.b_bg_colour_01_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_01.gif);
}
div.b_bg_colour_08,div.b_bg_colour_08_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_08.gif);
}
div.b_bg_colour_12,div.b_bg_colour_12_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_12.gif);
}
div.b_bg_colour_16,div.b_bg_colour_16_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_16.gif);
}
div.b_bg_denim,div.b_bg_denim_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/denim.gif);
}
div.b_bg_lace,div.b_bg_lace_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/lace.gif);
}
div.b_bg_stitched,div.b_bg_stitched_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/stitched.gif);
}
div.b_bg_wood,div.b_bg_wood_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_wood.gif);
}
div.b_bg_cork,div.b_bg_cork_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/cork.png);
}
div.b_bg_stone,div.b_bg_stone_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/stone.gif);
}
div.b_bg_pattern_bricks,div.b_bg_pattern_bricks_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_bricks.gif);
}
div.b_bg_ruled_paper,div.b_bg_ruled_paper_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/ruled_paper.gif);
}
div.b_bg_grass,div.b_bg_grass_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/grass.gif);
}
div.b_bg_hotel,div.b_bg_hotel_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/hotel.png);
}
div.b_bg_bubble,div.b_bg_bubble_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bubble.gif);
}
div.b_bg_pattern_bobbaskulls1,div.b_bg_pattern_bobbaskulls1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_bobbaskulls1.gif);
}
div.b_bg_pattern_space,div.b_bg_pattern_space_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_space.gif);
}
div.b_bg_image_submarine,div.b_bg_image_submarine_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_image_submarine.gif);
}
div.b_bg_metal2,div.b_bg_metal2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/metal2.gif);
}
div.b_bg_broken_glass,div.b_bg_broken_glass_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_broken_glass.png);
}
div.b_bg_pattern_clouds,div.b_bg_pattern_clouds_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_clouds.gif);
}
div.b_bg_comic2,div.b_bg_comic2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/comic2.png);
}
div.b_bg_pattern_floral_01,div.b_bg_pattern_floral_01_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_floral_01.gif);
}
div.b_bg_pattern_floral_02,div.b_bg_pattern_floral_02_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_floral_02.gif);
}
div.b_bg_pattern_floral_03,div.b_bg_pattern_floral_03_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_floral_03.gif);
}
div.b_bg_pattern_bulb,div.b_bg_pattern_bulb_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_bulb.gif);
}
div.b_bg_pattern_cars,div.b_bg_pattern_cars_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_cars.gif);
}
div.b_bg_pattern_carpants,div.b_bg_pattern_carpants_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_carpants.gif);
}
div.b_bg_pattern_plasto,div.b_bg_pattern_plasto_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_plasto.gif);
}
div.b_bg_pattern_tinyroom,div.b_bg_pattern_tinyroom_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_tinyroom.gif);
}
div.b_bg_pattern_hearts,div.b_bg_pattern_hearts_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_hearts.gif);
}
div.b_bg_pattern_abstract1,div.b_bg_pattern_abstract1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_abstract1.gif);
}
div.b_bg_bathroom_tile,div.b_bg_bathroom_tile_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_bathroom_tile.gif);
}
div.b_bg_pattern_fish,div.b_bg_pattern_fish_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_fish.gif);
}
div.b_bg_pattern_deepred,div.b_bg_pattern_deepred_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_pattern_deepred.gif);
}
div.b_bg_colour_02,div.b_bg_colour_02_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_02.gif);
}
div.b_bg_colour_03,div.b_bg_colour_03_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_03.gif);
}
div.b_bg_colour_04,div.b_bg_colour_04_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_04.gif);
}
div.b_bg_colour_05,div.b_bg_colour_05_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_05.gif);
}
div.b_bg_colour_06,div.b_bg_colour_06_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_06.gif);
}
div.b_bg_colour_07,div.b_bg_colour_07_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_07.gif);
}
div.b_bg_colour_09,div.b_bg_colour_09_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_09.gif);
}
div.b_bg_colour_10,div.b_bg_colour_10_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_10.gif);
}
div.b_bg_colour_11,div.b_bg_colour_11_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_11.gif);
}
div.b_bg_colour_13,div.b_bg_colour_13_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_colour_13.gif);
}
div.b_bg_colour_14,div.b_bg_colour_14_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_colour_14.gif);
}
div.b_bg_colour_15,div.b_bg_colour_15_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_colour_15.gif);
}
div.b_bg_colour_17,div.b_bg_colour_17_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_colour_17.gif);
}
div.b_bg_tonga,div.b_bg_tonga_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/tonga.gif);
}
div.b_xmas 2006 backgrounds,div.b_xmas 2006 backgrounds_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Xmas 2006 backgrounds.gif);
}
div.b_xmas_bgpattern_starsky,div.b_xmas_bgpattern_starsky_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/xmas_bgpattern_starsky.gif);
}
div.b_xmas_gifts_bg,div.b_xmas_gifts_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/xmas_gifts_bg.gif);
}
div.b_bg_newyear_bg_fireworks,div.b_bg_newyear_bg_fireworks_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/NewYear_bg_fireworks.gif);
}
div.b_vale_rose_bg,div.b_vale_rose_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/vale_rose_bg.gif);
}
div.b_vale_skull_bg,div.b_vale_skull_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/vale_skull_bg.gif);
}
div.b_cny_kunfu_girl,div.b_cny_kunfu_girl_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/CNY_KUNFU_GIRL.GIF);
}
div.b_sticker_heartbeat_2,div.b_sticker_heartbeat_2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/sticker_heartbeat.gif);
}
div.b_val_lovecostume3,div.b_val_lovecostume3_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/val_lovecostume3.gif);
}
div.b_val_love-costume4,div.b_val_love-costume4_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/val_sticker_love_costume.gif);
}
div.b_goth_pattern,div.b_goth_pattern_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/goth_pattern.gif);
}
div.b_easter_eggs_wallpaper,div.b_easter_eggs_wallpaper_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/easter_eggs_wallpaper.gif);
}
div.b_hc_bg_machine,div.b_hc_bg_machine_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/HC_machine.png);
}
div.b_hc_bg_pillow,div.b_hc_bg_pillow_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/HC_pillow.gif);
}
div.b_hc_bg_royal,div.b_hc_bg_royal_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/HC_royal.gif);
}
div.b_bg_xmas_gift,div.b_bg_xmas_gift_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/xmas_gifts_bg);
}
div.b_newyear_bg_fireworks,div.b_newyear_bg_fireworks_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/newyear_bg_fireworks.gif);
}
div.b_newyear_bg_fireworks2,div.b_newyear_bg_fireworks2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/newyear_bg_fireworks2.gif);
}
div.b_nl_green_bg,div.b_nl_green_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/nl_green_bg.gif);
}
div.b_val_bgpattern_love,div.b_val_bgpattern_love_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/vale_rose_bg.gif);
}
div.b_val_bgpattern_skull,div.b_val_bgpattern_skull_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/vale_skull_bg.gif);
}
div.b_xmas_box_darkred2 {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/xmas_box_darkred2.gif);
}
div.b_xmas_box_darkred2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/TEST5);
}
div.b_xmas_box_darkred3,div.b_xmas_box_darkred3_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/TEST6);
}
div.b_xmas_gifts_bg.gif,div.b_xmas_gifts_bg.gif_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/xmas_gifts_bg.gif);
}
div.b_bg_bobbaheart,div.b_bg_bobbaheart_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_bobbaheart.gif);
}
div.b_bg_rain,div.b_bg_rain_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_rain.gif);
}
div.b_bg_serpentine_1,div.b_bg_serpentine_1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_serpentine_1.gif);
}
div.b_bg_serpentine_2,div.b_bg_serpentine_2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_serpentine_2.gif);
}
div.b_bg_serpentine_darkblue,div.b_bg_serpentine_darkblue_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_serpentine_darkblue.gif);
}
div.b_bg_serpntine_darkred,div.b_bg_serpntine_darkred_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_serpntine_darkred.gif);
}
div.b_habbo_group_tutorial_bg,div.b_habbo_group_tutorial_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/habbo_group_tutorial_bg.png);
}
div.b_tutorial_bg,div.b_tutorial_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/tutorial_bg.png);
}
div.b_habboween_bg,div.b_habboween_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/habboween_bg.gif);
}
div.b_bg_habbolido,div.b_bg_habbolido_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_habbolido.png);
}
div.b_voiceofteens,div.b_voiceofteens_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/voiceofteens.gif);
}
div.b_bg_battle_ball2,div.b_bg_battle_ball2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/BB_Group2.png);
}
div.b_bg_infobus_blue,div.b_bg_infobus_blue_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_infobus_blue.png);
}
div.b_bg_infobus_white,div.b_bg_infobus_white_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_infobus_white.png);
}
div.b_bg_infobus_yellow,div.b_bg_infobus_yellow_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_infobus_yellow.png);
}
div.b_bg_lido_flat,div.b_bg_lido_flat_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/lido_flatt_bg.png);
}
div.b_bg_lidoo,div.b_bg_lidoo_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/lidoo_bg.png);
}
div.b_bg_vip,div.b_bg_vip_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/Vip_Group.png);
}
div.b_bg_wobble_squabble,div.b_bg_wobble_squabble_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/WS_Group2.png);
}
div.b_habbogroup,div.b_habbogroup_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/habbos_group.png);
}
div.b_snowstorm_bg,div.b_snowstorm_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/snowstorm_bg.png);
}
div.b_makeover,div.b_makeover_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/makeover.gif);
}
div.b_christmas2007bg_001,div.b_christmas2007bg_001_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/christmas2007bg_001.gif);
}
div.b_amango_bg,div.b_amango_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/amango_bg.jpg);
}
div.b_tokiohotel2,div.b_tokiohotel2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/tokiohotel2.gif);
}
div.b_jopelines,div.b_jopelines_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/jopelines2.jpg);
}
div.b_eb_928x1360,div.b_eb_928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/EB_928x1360.jpg);
}
div.b_exec_bg_viilu,div.b_exec_bg_viilu_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/Exec_bg_viilu.gif);
}
div.b_shabboline,div.b_shabboline_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/shabboline.png);
}
div.b_habborella_sea_bg,div.b_habborella_sea_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/habborella_sea_bg.gif);
}
div.b_welcoming_party,div.b_welcoming_party_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/welcoming_party.gif);
}
div.b_habbofest2008_bg,div.b_habbofest2008_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/Habbofest2008_bg.gif);
}
div.b_fondo_habbo_cibervoluntarios,div.b_fondo_habbo_cibervoluntarios_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/fondo_habbo_CIBERVOLUNTARIOS.jpg);
}
div.b_es_wallpaper_italia,div.b_es_wallpaper_italia_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/ES_Wallpaper_italia.jpg);
}
div.b_es_wallpaper_obrero,div.b_es_wallpaper_obrero_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/ES_Wallpaper_obrero.jpg);
}
div.b_es_wallpaper_sralim,div.b_es_wallpaper_sralim_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/ES_Wallpaper_sralim.jpg);
}
div.b_mms,div.b_mms_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/mms.jpg);
}
div.b_es_calendarbg,div.b_es_calendarbg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/es_calendarbg.png);
}
div.b_diadeinternet2008,div.b_diadeinternet2008_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/diadeinternet2008.png);
}
div.b_alhambragroup,div.b_alhambragroup_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/alhambragroup.png);
}
div.b_928x1360_productboard,div.b_928x1360_productboard_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/928x1360_productboard.jpg);
}
div.b_kingcorp_928x1360,div.b_kingcorp_928x1360_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/kingcorp_928x1360.gif);
}
div.b_jp_prom_bg,div.b_jp_prom_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/jp_prom_bg.png);
}
div.b_madball_2008_bg_001,div.b_madball_2008_bg_001_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/madball_2008_bg_001.png);
}
div.b_summer_bg,div.b_summer_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/summer_bg_optimal.png);
}
div.b_tiki_firehead_bg,div.b_tiki_firehead_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/tiki_firehead_bg.png);
}
div.b_hundredmillion_bg,div.b_hundredmillion_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/hundredmillion_bg.png);
}
div.b_toolbar_bg2,div.b_toolbar_bg2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/toolbar_bg2.png);
}
div.b_hmf_928x1360_principale_b,div.b_hmf_928x1360_principale_b_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/HMF_928x1360_principale_B.gif);
}
div.b_hmf_928x1360_dediee,div.b_hmf_928x1360_dediee_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/HMF_928x1360_dediee.gif);
}
div.b_bg games top gamers,div.b_bg games top gamers_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/top_gamers_bg_64.png);
}
div.b_bg_guidegroup,div.b_bg_guidegroup_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/guidesgroup_bg.png);
}
div.b_snowbattle_bg,div.b_snowbattle_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/grouppage_snowbattle2.png);
}
div.b_top_gamers_bg,div.b_top_gamers_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/top_gamers_bg_64.png);
}
div.b_habbolympics_bg_final,div.b_habbolympics_bg_final_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/habbolympics_bg_final.gif);
}
div.b_bmx_tailwhip,div.b_bmx_tailwhip_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/Habbo_BMX_foot_jam_tailwhip_BG.jpg);
}
div.b_skateb_ollie_bg,div.b_skateb_ollie_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/skateb_ollie_BG2.jpg);
}
div.b_diner_draft,div.b_diner_draft_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/wallpaper_dinerUS.png);
}
div.b_diner_global,div.b_diner_global_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/diner_global.png);
}
div.b_geeks_wallpaper,div.b_geeks_wallpaper_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/geeks_wallpaper.gif);
}
div.b_greasers_wallpaper,div.b_greasers_wallpaper_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/greasers_wallpaper.gif);
}
div.b_jocks_wallpaper,div.b_jocks_wallpaper_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/jocks_wallpaper.gif);
}
div.b_skulls_wallpaper,div.b_skulls_wallpaper_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/skulls_wallpaper.gif);
}
div.b_usob_grouppag_1e,div.b_usob_grouppag_1e_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/USOB_grouppag_1e.png);
}
div.b_wallpaper_musicgroup,div.b_wallpaper_musicgroup_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wallpaper_musicGroup.png);
}
div.b_wallpaper_videogamesgroup,div.b_wallpaper_videogamesgroup_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/wallpaper_videoGamesGroup.png);
}
div.b_kingcorp,div.b_kingcorp_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/kingcorp_928x1360.gif);
}
div.b_international_day_of_peace_bg,div.b_international_day_of_peace_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/peacegroup.gif);
}
div.b_bg_ol_far_west,div.b_bg_ol_far_west_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_ol_far_west.gif);
}
div.b_achievement_web_bg,div.b_achievement_web_bg_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/achievement_web_bg.png);
}
div.b_hw_day1,div.b_hw_day1_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/hw_day1.png);
}
div.b_hw_day2,div.b_hw_day2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/hw_day2.png);
}
div.b_hw_day3,div.b_hw_day3_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/hw_day3.png);
}
div.b_hw_day4,div.b_hw_day4_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/hw_day4.png);
}
div.b_hw_day5,div.b_hw_day5_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/hw_day5.png);
}
div.b_hw_day6,div.b_hw_day6_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/hw_day6.png);
}
div.b_fi_puffet_bg,div.b_fi_puffet_bg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/fi_puffet_bg.gif);
}
div.b_themepark_bg_01,div.b_themepark_bg_01_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/themepark_bg_01.gif);
}
div.b_themepark_bg_02,div.b_themepark_bg_02_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/themepark_bg_02.gif);
}
div.b_neon_homepage2,div.b_neon_homepage2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/neon_homepage2.png);
}
div.b_neon_subpage2,div.b_neon_subpage2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/neon_subpage2.png);
}
div.b_xmas08_gpbg,div.b_xmas08_gpbg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/xmas08_gpbg.png);
}
div.b_sasquatch_hhbg3,div.b_sasquatch_hhbg3_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/sasquatch_hhbg3.gif);
}
div.b_bg_nobobba,div.b_bg_nobobba_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_nobobba.gif);
}
div.b_es_superherobg.sized,div.b_es_superherobg.sized_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/ES_SuperheroBG.sized.png);
}
div.b_fondo_habbo_mtv,div.b_fondo_habbo_mtv_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/fondo_habbo_MTV.jpg);
}
div.b_gp_sha,div.b_gp_sha_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/gp_sha.png);
}
div.b_bg_shalimar_grouptheatre,div.b_bg_shalimar_grouptheatre_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_shalimar_grouptheatre.png);
}
div.b_misshabbo_scene,div.b_misshabbo_scene_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/misshabbo_scene.gif);
}
div.b_bg_lostc_oceanfloor.sized,div.b_bg_lostc_oceanfloor.sized_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_lostc_oceanfloor.sized.png);
}
div.b_bg_lostc_oceanfloor,div.b_bg_lostc_oceanfloor_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_lostc_oceanfloor.png);
}
div.b_bubblejuice_bg,div.b_bubblejuice_bg_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bubblejuice_bg3.jpg);
}
div.b_bg_earth_hour,div.b_bg_earth_hour_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_earth_hour.png);
}
div.b_bg_easter_1,div.b_bg_easter_1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_1.gif);
}
div.b_bg_easter_2,div.b_bg_easter_2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_2.gif);
}
div.b_bg_easter_3,div.b_bg_easter_3_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_3.gif);
}
div.b_bg_easter_4,div.b_bg_easter_4_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_4.gif);
}
div.b_bg_easter_5,div.b_bg_easter_5_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_5.gif);
}
div.b_easterbackground2009,div.b_easterbackground2009_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_Easter_1.gif);
}
div.b_gameshow_group_928x1360,div.b_gameshow_group_928x1360_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/gameshow_group_928x1360.png);
}
div.b_uk_habboway_group_928x1360,div.b_uk_habboway_group_928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/uk_habboway_group_928x1360.gif);
}
div.b_uk_parentsguide_group_928x1360,div.b_uk_parentsguide_group_928x1360_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/uk_parentsguide_group_928x1360.gif);
}
div.b_uk_safetytips_group_928x1360,div.b_uk_safetytips_group_928x1360_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/uk_safetytips_group_928x1360.gif);
}
div.b_uk_habboway_group_928x1360.sized,div.b_uk_habboway_group_928x1360.sized_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/uk_habboway_group_928x1360.sized.gif);
}
div.b_uk_parentsguide_group_928x1360.sized,div.b_uk_parentsguide_group_928x1360.sized_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/uk_parentsguide_group_928x1360.sized.gif);
}
div.b_uk_safetytips_group_928x1360.sized,div.b_uk_safetytips_group_928x1360.sized_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/uk_safetytips_group_928x1360.sized.gif);
}
div.b_grouppage_country.sized,div.b_grouppage_country.sized_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/grouppage_country.sized.gif);
}
div.b_bg_ltribe_jungle.sized,div.b_bg_ltribe_jungle.sized_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_ltribe_jungle.sized.png);
}
div.b_bg_ltribe_jungle,div.b_bg_ltribe_jungle_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_ltribe_jungle.png);
}
div.b_beta_group_bg2,div.b_beta_group_bg2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/beta_group_bg2.png);
}
div.b_openbeta_bg,div.b_openbeta_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/openbeta_bg.png);
}
div.b_groupbg_scifi,div.b_groupbg_scifi_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/groupbg_scifi.png);
}
div.b_bg_hotcool_summer,div.b_bg_hotcool_summer_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_hotcool_summer.gif);
}
div.b_groupbg_scifi_space2,div.b_groupbg_scifi_space2_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/groupbg_scifi_space2.gif);
}
div.b_bg_relax,div.b_bg_relax_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_relax.gif);
}
div.b_de_graphic_artists,div.b_de_graphic_artists_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/DE_graphic_artists.png);
}
div.b_kitchensurvivor_bg_v2,div.b_kitchensurvivor_bg_v2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/KitchenSurvivor_BG_v2.png);
}
div.b_kitchensurvivor_bg_v1,div.b_kitchensurvivor_bg_v1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/KitchenSurvivor_BG_v1.png);
}
div.b_bg_ema09,div.b_bg_ema09_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_ema09.png);
}
div.b_background_pasaporte_928x1360,div.b_background_pasaporte_928x1360_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Background_Pasaporte_928x1360.png);
}
div.b_vip_group,div.b_vip_group_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/Vip_Group.png);
}
div.b_es_superherobg,div.b_es_superherobg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/ES_SuperheroBG.png);
}
div.b_bg_hween09_newsofhabbo2,div.b_bg_hween09_newsofhabbo2_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_hween09_newsofhabbo2.gif);
}
div.b_habbo_mall_background,div.b_habbo_mall_background_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/habbo_mall_background.gif);
}
div.b_hotel,div.b_hotel_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/hotel.png);
}
div.b_bg_teaser_002,div.b_bg_teaser_002_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_teaser_002.jpg);
}
div.b_bg_twilight_week2_nologo_002,div.b_bg_twilight_week2_nologo_002_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week2_nologo_002.png);
}
div.b_bg_twilight_week3_nologo_009,div.b_bg_twilight_week3_nologo_009_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week3_nologo_009.png);
}
div.b_bg_twilight_week4_nologo_001,div.b_bg_twilight_week4_nologo_001_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_twilight_week4_nologo_001.png);
}
div.b_bg_teaser_nologo,div.b_bg_teaser_nologo_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_teaser_nologo.jpg);
}
div.b_bg_xmas09_wall,div.b_bg_xmas09_wall_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_xmas09_wall.gif);
}
div.b_xmas2009_bg_snowing,div.b_xmas2009_bg_snowing_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/xmas2009_bg_snowing.gif);
}
div.b_xmas2009_bg_xmasfun,div.b_xmas2009_bg_xmasfun_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/xmas2009_bg_xmasfun.png);
}
div.b_bg_cloudy_spain,div.b_bg_cloudy_spain_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_cloudy_SPAIN.jpg);
}
div.b_bg_alvin2_es,div.b_bg_alvin2_es_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_alvin2_es.jpg);
}
div.b_cupabg,div.b_cupabg_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/cupabg.jpg);
}
div.b_group_page_u181_928x1360,div.b_group_page_u181_928x1360_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Group_page_u181_928x1360.png);
}
div.b_fondo_rabbids_928x1360,div.b_fondo_rabbids_928x1360_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/Fondo_Rabbids_928x1360.jpg);
}
div.b_corkboard,div.b_corkboard_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/corkboard.png);
}
div.b_bg_hbh,div.b_bg_hbh_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_hbh.png);
}
div.b_mb_groupbg_3_stickys,div.b_mb_groupbg_3_stickys_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/mb_groupbg_3_stickys.png);
}
div.b_es_bg_antena3,div.b_es_bg_antena3_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/ES_bg_antena3.jpg);
}
div.b_es_bg_escobilla,div.b_es_bg_escobilla_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/ES_bg_escobilla.jpg);
}
div.b_es_bg_foq,div.b_es_bg_foq_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/ES_bg_FOQ.jpg);
}
div.b_es_bg_hdp,div.b_es_bg_hdp_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/ES_bg_hdp.jpg);
}
div.b_es_bg_internado,div.b_es_bg_internado_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/ES_bg_internado.jpg);
}
div.b_es_bg_protegidos,div.b_es_bg_protegidos_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/ES_bg_protegidos.jpg);
}
div.b_es_bg_chupachups,div.b_es_bg_chupachups_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/ES_bg_chupachups.jpg);
}
div.b_br_background_office_928x1360,div.b_br_background_office_928x1360_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/br_background_office_928x1360.png);
}
div.b_background_eternity_mediagame,div.b_background_eternity_mediagame_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/background_eternity_mediagame.png);
}
div.b_fondo_pagina_de_grupo,div.b_fondo_pagina_de_grupo_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/fondo_pagina_de_grupo.jpg);
}
div.b_es_bg_fondo,div.b_es_bg_fondo_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/ES_bg_fondo.jpg);
}
div.b_es_pritt_mediagame,div.b_es_pritt_mediagame_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/ES_Pritt_mediagame.jpg);
}
div.b_bg_winterolympics_2010,div.b_bg_winterolympics_2010_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_winterolympics_2010.png);
}
div.b_paginagrupo_haboo_928x1360_01,div.b_paginagrupo_haboo_928x1360_01_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/PaginaGrupo_Haboo_928x1360_01.jpg);
}
div.b_fondo_pagina_de_grupo_4,div.b_fondo_pagina_de_grupo_4_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/fondo_pagina_de_grupo_4.jpg);
}
div.b_habbocomedyclub,div.b_habbocomedyclub_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/habbocomedyclub.png);
}
div.b_bg_es_teenmom,div.b_bg_es_teenmom_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_es_teenmom.jpg);
}
div.b_es_bg_grefusa,div.b_es_bg_grefusa_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/ES_bg_grefusa.jpg);
}
div.b_de_neuromancers_bg_v1,div.b_de_neuromancers_bg_v1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/DE_Neuromancers_BG_v1.png);
}
div.b_fondo_pagina,div.b_fondo_pagina_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/fondo_pagina.jpg);
}
div.b_es_bg_dearjohn,div.b_es_bg_dearjohn_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/ES_bg_dearjohn.jpg);
}
div.b_dear_john_bg,div.b_dear_john_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/dear_john_bg.jpg);
}
div.b_bg_dear_john,div.b_bg_dear_john_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/BG_Dear_John.jpg);
}
div.b_lnm928x1360habbo100k,div.b_lnm928x1360habbo100k_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/lnm928x1360habbo100k.jpg);
}
div.b_cheetos_es_bg_v1,div.b_cheetos_es_bg_v1_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/Cheetos_ES_bg_v1.jpg);
}
div.b_bg_habborunway_launch,div.b_bg_habborunway_launch_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_habborunway_launch.gif);
}
div.b_bg_habborunway_voting,div.b_bg_habborunway_voting_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_habborunway_voting.gif);
}
div.b_bg_habborunway_fashionweek2,div.b_bg_habborunway_fashionweek2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_habborunway_fashionweek2.gif);
}
div.b_es_bg_fondo_karabudjan,div.b_es_bg_fondo_karabudjan_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/ES_bg_fondo_karabudjan.jpg);
}
div.b_mtv_bluemount_928x1360_bg_v1,div.b_mtv_bluemount_928x1360_bg_v1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/MTV_BlueMount_928x1360_bg_v1.gif);
}
div.b_es_el_internardo_bg_v1,div.b_es_el_internardo_bg_v1_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/ES_El_Internardo_bg_v1.png);
}
div.b_bg_fondo_ovi,div.b_bg_fondo_ovi_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_fondo_ovi.jpg);
}
div.b_goal_bg,div.b_goal_bg_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/1goal_bg.jpg);
}
div.b_bg_gavilanes_band,div.b_bg_gavilanes_band_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_gavilanes_band.jpg);
}
div.b_bg_fondo_foqb,div.b_bg_fondo_foqb_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_Fondo_FoQB.png);
}
div.b_wallpaper_awesome,div.b_wallpaper_awesome_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/wallpaper_awesome.png);
}
div.b_wc_group,div.b_wc_group_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/wc_group.png);
}
div.b_bg_habbotv,div.b_bg_habbotv_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/BG_habboTV.png);
}
div.b_fondo_pagina_grupo,div.b_fondo_pagina_grupo_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/fondo_pagina_grupo.jpg);
}
div.b_bg_pepsi,div.b_bg_pepsi_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_pepsi.jpg);
}
div.b_fondo_grupo_001,div.b_fondo_grupo_001_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/fondo_grupo_001.jpg);
}
div.b_bg_shrek_3d,div.b_bg_shrek_3d_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_shrek_3d.jpg);
}
div.b_wallpaper_bigwave,div.b_wallpaper_bigwave_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/wallpaper_bigWave.png);
}
div.b_bg_oscuros_woods,div.b_bg_oscuros_woods_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_oscuros_woods.jpg);
}
div.b_sp_group_page_habboritos_928x1360,div.b_sp_group_page_habboritos_928x1360_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/SP_GROUP_PAGE_HABBORITOS_928x1360.png);
}
div.b_sp_group_page_habboritos,div.b_sp_group_page_habboritos_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/SP_GROUP_PAGE_HABBORITOS.png);
}
div.b_bg_es_karatekid,div.b_bg_es_karatekid_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_ES_karatekid.jpg);
}
div.b_group_page_salmah_928x1360,div.b_group_page_salmah_928x1360_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/GROUP_PAGE_salmah_928x1360.gif);
}
div.b_bg_es_tinkerbell,div.b_bg_es_tinkerbell_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_es_tinkerBell.jpg);
}
div.b_fondo_habbo_02,div.b_fondo_habbo_02_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/fondo_habbo_02.gif);
}
div.b_bg_blacksalmah_es,div.b_bg_blacksalmah_es_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_blacksalmah_es.png);
}
div.b_bg_despicableme_1,div.b_bg_despicableme_1_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_despicableme_1.jpg);
}
div.b_fondo,div.b_fondo_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/fondo.gif);
}
div.b_bg_a3_premios,div.b_bg_a3_premios_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_a3_premios.png);
}
div.b_bg_a3_premios2,div.b_bg_a3_premios2_pre {
	background-image: url(http://img3.cdn1.habbo.com/c_images/backgrounds2/bg_a3_premios2.png);
}
div.b_bg_mtves_berger,div.b_bg_mtves_berger_pre {
	background-image: url(http://img4.cdn1.habbo.com/c_images/backgrounds2/bg_mtves_berger.gif);
}
div.b_bg_mtves_razones2,div.b_bg_mtves_razones2_pre {
	background-image: url(http://img1.cdn1.habbo.com/c_images/backgrounds2/bg_mtves_razones2.gif);
}
div.b_bg_mtves_southpark,div.b_bg_mtves_southpark_pre {
	background-image: url(http://img2.cdn1.habbo.com/c_images/backgrounds2/bg_mtves_southpark.gif);
}
